.main {
  width: 100%; }

.page {
  width: 100%;
  margin: 0 0; }

.navbar {
  min-width: 100%;
  max-width: 100%;
  min-height: 40px;
  max-height: 40px;
  background-color: #800018;
  border-top: 2px solid #013d3d;
  border-bottom: 2px solid #013d3d; }
  .navbar .button {
    min-width: 92px;
    max-width: 92px;
    max-height: 24px;
    margin: 0 -4px;
    padding: 2px 2px;
    color: #013d3d;
    font-family: "Prompt";
    font-size: 12px;
    letter-spacing: 0px;
    background: goldenrod;
    border: 1px solid #013d3d;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(65, 65, 65, 0.6), 0 0 1px 0 black; }
    .navbar .button:hover {
      color: #ffffff;
      background: #1c6672;
      box-shadow: none; }
  .navbar .appName {
    margin: 1px 8px 0 8px;
    padding: 0 0;
    color: #fdcb3f;
    font-family: "Saira Semi Condensed";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 0 3px black; }

.infoTopNav {
  margin: 0 0;
  padding: 0 0; }

.topSection,
.bottomSection {
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  background: url(../assets/img/bgPhotoSmall.jpg) no-repeat;
  background-size: cover; }

.explainBox {
  width: 100%;
  min-height: 248px;
  margin: 0 0;
  padding: 0 0; }
  .explainBox .explainTitleBox {
    height: 32px;
    margin: -3px 0 0 0;
    padding: 5px 0;
    background: #8D8F53;
    border-top: 1px solid #013d3d;
    border-bottom: 1px solid #013d3d; }
    .explainBox .explainTitleBox .explainTitle {
      font-family: "Quicksand";
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 2px;
      text-shadow: 0 0 4px white;
      text-transform: uppercase; }
  .explainBox .explainTextBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0;
    padding: 3% 3% 20px 3%;
    background: rgba(48, 48, 48, 0.68); }
    .explainBox .explainTextBox .explainSubTitles {
      width: 50%;
      height: 28px;
      margin: 8px 0 4px 0;
      padding: 4px 8px 0 8px;
      color: #0f2e24;
      font-family: "Prompt";
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1px;
      background: #8D8F53;
      border: 1px solid rgba(184, 170, 100, 0.8);
      border-radius: 3px; }
    .explainBox .explainTextBox .topSubTitle {
      margin: 6px 0 4px 0; }
    .explainBox .explainTextBox .partText {
      margin: 0 0 8px 0;
      padding: 6px 8px;
      color: #ffffff;
      font-family: "Prompt";
      font-size: 12px;
      font-weight: 100;
      letter-spacing: 1px;
      line-height: 20px;
      background: rgba(150, 103, 45, 0.68);
      border: 1px solid rgba(184, 170, 100, 0.8);
      border-radius: 2px;
      text-shadow: 0 1px 2px black; }
      .explainBox .explainTextBox .partText span {
        font-weight: 400; }
      .explainBox .explainTextBox .partText .step {
        color: #fdcb3f;
        font-size: 13px;
        font-weight: 200;
        letter-spacing: 2px; }
      .explainBox .explainTextBox .partText a {
        color: #57a8f3;
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 0px;
        text-decoration: none;
        text-shadow: none; }
        .explainBox .explainTextBox .partText a:hover {
          color: rgba(253, 203, 63, 0.68); }

.contactBox {
  width: 100%;
  min-height: 248px;
  margin: 0 0;
  padding: 0 0; }
  .contactBox .contactTitleBox {
    height: 32px;
    margin: 0 0 0 0;
    padding: 5px 0;
    background: #8D8F53;
    border-top: 1px solid #013d3d;
    border-bottom: 1px solid #013d3d; }
    .contactBox .contactTitleBox .contactTitle {
      font-family: "Quicksand";
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 2px;
      text-shadow: 0 0 4px white;
      text-transform: uppercase; }
  .contactBox .contactFormBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0;
    padding: 3% 3% 20px 3%;
    background: rgba(48, 48, 48, 0.68); }
    .contactBox .contactFormBox .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0;
      padding: 0 0; }
    .contactBox .contactFormBox .nameForm,
    .contactBox .contactFormBox .commentsForm,
    .contactBox .contactFormBox .submitForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 16px 0;
      padding: 0 0; }
    .contactBox .contactFormBox .inputLabel {
      width: 50%;
      height: 28px;
      margin: 8px 0 4px 0;
      padding: 4px 8px 0 8px;
      color: #0f2e24;
      font-family: "Prompt";
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1px;
      background: #8D8F53;
      border: 1px solid rgba(184, 170, 100, 0.8);
      border-radius: 3px; }
    .contactBox .contactFormBox .topLabel {
      margin: 8px 0 4px 0; }
    .contactBox .contactFormBox .textareaLabel {
      width: 74%;
      height: 28px;
      margin: 0 0 4px 0; }
    .contactBox .contactFormBox input,
    .contactBox .contactFormBox textarea {
      margin: 0 0 4px 0;
      padding: 4px 8px 2px 8px;
      color: #503b34;
      color: white;
      font-family: "Prompt";
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1px;
      background: rgba(242, 220, 107, 0.3);
      border: 1px solid rgba(184, 170, 100, 0.8);
      border-radius: 4px;
      box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.4); }
      .contactBox .contactFormBox input::placeholder,
      .contactBox .contactFormBox textarea::placeholder {
        color: white;
        font-family: "Dosis";
        font-weight: 200;
        letter-spacing: 2px;
        opacity: .7; }
      .contactBox .contactFormBox input:hover,
      .contactBox .contactFormBox textarea:hover {
        border: 1px solid #1c6672;
        box-shadow: none; }
    .contactBox .contactFormBox .sendForm {
      width: 100%;
      height: 32px;
      margin: 0 0 16px 0;
      padding: 2px 8px;
      color: #fdcb3f;
      font-family: "Prompt";
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 2px;
      text-shadow: 0 1px 2px black;
      background: #1c7481;
      border: 1px solid #1c6672;
      border-radius: 4px;
      box-shadow: 0 0 2px 1px rgba(65, 65, 65, 0.6), 0 0 1px 0 black; }
      .contactBox .contactFormBox .sendForm:hover {
        background: #03573e;
        border: 1px solid #013d3d;
        box-shadow: none; }

.infBottomNav {
  position: fixed;
  margin: 0 0;
  padding: 0 0;
  bottom: 0; }

.sectionVisible {
  display: flex;
  flex-direction: column; }

.sectionHidden {
  display: none;
  height: 0px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media (min-width: 992px) {
  .explainBox {
    padding: 0 0 22px 0 !important; }
    .explainBox .explainTextBox {
      padding: 5% 5% 20px 5% !important; }

  .contactBox {
    border-left: 1px solid #013d3d; }
    .contactBox .contactFormBox {
      padding: 5% 5% 20px 5% !important; }
    .contactBox .contactTitleBox {
      margin: -3px 0 0 0 !important; }
    .contactBox .contactFormBox {
      min-height: 1080px !important; } }
@media (min-width: 1020px) {
  .contactBox .contactFormBox {
    min-height: 1060px !important; } }
@media (min-width: 1137px) {
  .contactBox .contactFormBox {
    min-height: 1020px !important; } }
@media (min-width: 1280px) {
  .explainBox .explainTextBox {
    padding: 8% 8% 20px 8% !important; }

  .contactBox .contactFormBox {
    padding: 8% 8% 20px 8% !important; } }
@media (min-width: 1325px) {
  .contactBox .contactFormBox {
    min-height: 1030px !important; } }
@media (min-width: 1573px) {
  .contactBox .contactFormBox {
    min-height: 1010px !important; } }
@media (min-width: 1603px) {
  .contactBox .contactFormBox {
    min-height: 1000px !important; } }
@media (min-width: 1710px) {
  .contactBox .contactFormBox {
    min-height: 960px !important; } }

/*# sourceMappingURL=stylesheetInfo.css.map */
