
.body,
.main,
.box {
  min-width: 100%;
  margin: 0 0;
  padding: 0 0;
}
.col-one {
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  background: red;
}
.col-two {
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  background: green;
}