* {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 0;
  padding: 0 0; }

body {
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  background: url(../assets/img/bgPhotoSmall.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed; }

main {
  width: 100%;
  background: rgba(255, 255, 255, 0.6); }

.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0;
  box-shadow: 2px 2px 2px 1px rgba(20, 20, 20, 0.3), -2px -2px 2px 1px rgba(20, 20, 20, 0.3);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; }

@keyframes navSlideUp {
  0% {
    top: 0px; }
  50% {
    top: 0px; }
  100% {
    top: -32px; } }
@keyframes navSlideDown {
  0% {
    top: -32px; }
  100% {
    top: 0px; } }
@keyframes pageMoveUp {
  0% {
    margin-top: 71px; }
  50% {
    margin-top: 71px; }
  100% {
    margin-top: 38px; } }
@keyframes pageMoveDown {
  0% {
    margin-top: 38px; }
  100% {
    margin-top: 71px; } }
.navbar {
  min-width: 100%;
  max-width: 100%;
  margin: 0 0;
  padding: 0 0;
  background-color: #800018;
  border-top: 2px solid #013d3d;
  border-bottom: 2px solid #013d3d; }
  .navbar .button {
    color: #013d3d;
    font-family: "Prompt";
    font-size: 12px;
    letter-spacing: 0px;
    background: #F2B035;
    border: 1px solid #013d3d;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.1), -2px -2px 4px 0 rgba(20, 20, 20, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    .navbar .button:hover {
      color: #F2B035;
      background: #1c6672;
      box-shadow: none; }

.topNav {
  border-top: none;
  z-index: 3; }
  .topNav .topRow {
    min-width: 100%;
    max-width: 100%;
    min-height: 32px;
    padding: 0 6px;
    border-bottom: 1px solid rgba(1, 61, 61, 0.18); }
    .topNav .topRow .link {
      width: 92px;
      color: #013d3d;
      text-decoration: none;
      padding: 0 0;
      margin: 2px 0 0 0; }
      .topNav .topRow .link .button {
        width: 92px;
        min-height: 20px;
        margin: 0 0;
        padding: 0 4px 2px 4px; }
    .topNav .topRow .appName {
      margin: 6px auto 0 auto;
      padding: 0 0;
      color: #F2B035;
      font-family: "Saira Semi Condensed";
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      letter-spacing: 1px;
      text-shadow: 0 0 3px black; }
  .topNav .bottomRow {
    min-width: 100%;
    max-width: 100%;
    min-height: 38px;
    padding: 0 6px; }
    .topNav .bottomRow .button {
      display: flex;
      align-items: center;
      width: 28px;
      height: 26px; }
    .topNav .bottomRow .navBtnCol {
      margin: 0 0;
      padding: 0 0; }
      .topNav .bottomRow .navBtnCol .menuBtn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        box-shadow: 1px 1px 1px 0 rgba(192, 186, 95, 0.1), -1px -1px 1px 0 rgba(192, 186, 95, 0.1);
        visibility: hidden;
        opacity: 0; }
        .topNav .bottomRow .navBtnCol .menuBtn .imgOne {
          height: 12px;
          width: 14px;
          margin: 0 auto; }
        .topNav .bottomRow .navBtnCol .menuBtn .imgTwo {
          height: 6px;
          width: 12px;
          margin: 0 auto; }
    .topNav .bottomRow .searchCol {
      margin: 0 0;
      padding: 0 0; }
      .topNav .bottomRow .searchCol .form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: rgba(131, 153, 96, 0.8);
        border: 1px solid #013d3d;
        border-radius: 3px;
        box-shadow: inset 2px 2px 4px 0 rgba(26, 26, 26, 0.1), inset -2px -2px 4px 0 rgba(26, 26, 26, 0.1), inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px 1px rgba(0, 0, 0, 0.3); }
        .topNav .bottomRow .searchCol .form .search {
          height: 25px;
          width: 180px;
          margin: 0 0;
          padding: 2px 6px 2px 8px;
          color: #ecd27c;
          font-family: "Prompt";
          font-size: 14px;
          font-weight: 200;
          background: transparent;
          border: none; }
          .topNav .bottomRow .searchCol .form .search::placeholder {
            color: rgba(1, 61, 61, 0.8);
            font-family: "Prompt";
            font-size: 14px;
            font-weight: 100; }
        .topNav .bottomRow .searchCol .form input:focus {
          outline: 1px solid #013d3d;
          border: 1px solid #013d3d; }
        .topNav .bottomRow .searchCol .form input::-moz-focus-inner {
          outline: 1px solid #013d3d;
          border: 1px solid #013d3d; }
        .topNav .bottomRow .searchCol .form .searchBtn {
          display: flex;
          align-items: center;
          min-width: 26px;
          height: 25px;
          margin: 0 0;
          padding: 0 0;
          background: rgba(242, 176, 53, 0.6);
          border: none;
          border-left: 1px solid #013d3d;
          box-shadow: inset 2px 2px 4px 0 rgba(26, 26, 26, 0.1), inset -2px -2px 4px 0 rgba(26, 26, 26, 0.1), inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px 1px rgba(0, 0, 0, 0.3); }
          .topNav .bottomRow .searchCol .form .searchBtn .searchImg {
            height: 15px;
            width: 15px;
            margin: 0 auto; }
          .topNav .bottomRow .searchCol .form .searchBtn:hover {
            background: rgba(28, 102, 114, 0.6); }
    .topNav .bottomRow .resetCol {
      margin: 0 0;
      padding: 0 0; }
      .topNav .bottomRow .resetCol .resetBtn {
        display: flex;
        align-items: center;
        margin: auto;
        padding: 2px 3px 3px 3px;
        box-shadow: 1px 1px 1px 0 rgba(192, 186, 95, 0.1), -1px -1px 1px 0 rgba(192, 186, 95, 0.1); }
        .topNav .bottomRow .resetCol .resetBtn .resetImg {
          height: 15px;
          width: 15px;
          margin: 0 auto; }

@keyframes blink {
  0% {
    background-color: #e0bb5e; }
  10% {
    background-color: #e0bb5e; }
  11% {
    background-color: #e4c473; }
  29% {
    background-color: #e4c473; }
  30% {
    background-color: #e0bb5e; }
  50% {
    background-color: #e4c473; }
  45% {
    background-color: #e0bb5e; }
  50% {
    background-color: #e4c473; }
  100% {
    background-color: #e0bb5e; } }
.section {
  width: 100%;
  max-width: 100%;
  margin: 71px 0 0 0;
  padding: 0 0; }
  .section .bottomCol {
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0 0; }
  .section .topCol .sectionVisible {
    display: block; }
  .section .topCol .sectionHidden {
    display: none; }

.fridgeSection,
.mealTypeSection {
  width: 100%;
  margin: 0 0;
  padding: 0 0; }

.fridgeSection {
  max-width: 100%; }
  .fridgeSection .sectionRow {
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0 0; }
  .fridgeSection .selectionsBox,
  .fridgeSection .fridgeBox {
    width: 100%;
    max-width: 100%;
    height: 496px;
    margin: 0 0;
    padding: 0 0;
    border: none; }
    .fridgeSection .selectionsBox .titleBox,
    .fridgeSection .fridgeBox .titleBox {
      width: 100%;
      max-width: 100%;
      height: 34px;
      margin: 0 0;
      padding: 0 6px;
      background: rgba(202, 156, 39, 0.8);
      border-top: 1px solid #013d3d;
      border-bottom: 1px solid #013d3d; }
      .fridgeSection .selectionsBox .titleBox .selectionTitle,
      .fridgeSection .selectionsBox .titleBox .fridgeTitle,
      .fridgeSection .selectionsBox .titleBox .mealTitle,
      .fridgeSection .fridgeBox .titleBox .selectionTitle,
      .fridgeSection .fridgeBox .titleBox .fridgeTitle,
      .fridgeSection .fridgeBox .titleBox .mealTitle {
        width: 100%;
        max-width: 100%;
        height: 34px;
        margin: 0 auto;
        padding: 6px 0 0 0;
        font-family: "Quicksand";
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-shadow: 0 0 3px white;
        border: none; }
  .fridgeSection .selectionsBox .titleBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 6px; }
    .fridgeSection .selectionsBox .titleBox .selectionTitle {
      min-width: 72%;
      max-width: 72%;
      margin-left: 20px; }
  .fridgeSection .selectionsBox .mealMenuBtn {
    display: flex;
    align-items: center;
    min-width: 26px;
    min-height: 24px;
    margin: 0 0;
    padding: 0 0;
    background: #F2B035;
    border: 1px solid #013d3d;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0 rgba(192, 186, 95, 0.1), -1px -1px 1px 0 rgba(192, 186, 95, 0.1); }
    .fridgeSection .selectionsBox .mealMenuBtn .mealImg {
      width: 14px;
      height: 14px;
      margin: 0 auto; }
    .fridgeSection .selectionsBox .mealMenuBtn:hover {
      color: #F2B035;
      background: #1c6672;
      box-shadow: none; }
  .fridgeSection .selectionsBox .menuBtnHidden {
    opacity: 0; }
  .fridgeSection .selectionsBox .menuBtnVisible {
    animation: 1s fadeIn forwards; }
  .fridgeSection .selectionsBox,
  .fridgeSection .fridgeBox {
    height: 248px; }
    .fridgeSection .selectionsBox .selection,
    .fridgeSection .selectionsBox .temporary,
    .fridgeSection .selectionsBox .fridge,
    .fridgeSection .fridgeBox .selection,
    .fridgeSection .fridgeBox .temporary,
    .fridgeSection .fridgeBox .fridge {
      align-items: center;
      margin: 0 0;
      padding: 2px 6%;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      background: rgba(255, 255, 255, 0.8); }
      .fridgeSection .selectionsBox .selection::-webkit-scrollbar,
      .fridgeSection .selectionsBox .temporary::-webkit-scrollbar,
      .fridgeSection .selectionsBox .fridge::-webkit-scrollbar,
      .fridgeSection .fridgeBox .selection::-webkit-scrollbar,
      .fridgeSection .fridgeBox .temporary::-webkit-scrollbar,
      .fridgeSection .fridgeBox .fridge::-webkit-scrollbar {
        display: none; }
      .fridgeSection .selectionsBox .selection .ingredientImgBox,
      .fridgeSection .selectionsBox .temporary .ingredientImgBox,
      .fridgeSection .selectionsBox .fridge .ingredientImgBox,
      .fridgeSection .fridgeBox .selection .ingredientImgBox,
      .fridgeSection .fridgeBox .temporary .ingredientImgBox,
      .fridgeSection .fridgeBox .fridge .ingredientImgBox {
        width: 60px;
        height: 50px;
        margin: 3px auto;
        background: white;
        box-shadow: inset 2px 2px 4px 0 rgba(26, 26, 26, 0.1), inset -2px -2px 4px 0 rgba(26, 26, 26, 0.1), inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px 1px rgba(0, 0, 0, 0.3);
        overflow: hidden; }
      .fridgeSection .selectionsBox .selection .ingredientImg,
      .fridgeSection .selectionsBox .temporary .ingredientImg,
      .fridgeSection .selectionsBox .fridge .ingredientImg,
      .fridgeSection .fridgeBox .selection .ingredientImg,
      .fridgeSection .fridgeBox .temporary .ingredientImg,
      .fridgeSection .fridgeBox .fridge .ingredientImg {
        width: 60px;
        height: 50px; }
      .fridgeSection .selectionsBox .selection .ingredientName,
      .fridgeSection .selectionsBox .temporary .ingredientName,
      .fridgeSection .selectionsBox .fridge .ingredientName,
      .fridgeSection .fridgeBox .selection .ingredientName,
      .fridgeSection .fridgeBox .temporary .ingredientName,
      .fridgeSection .fridgeBox .fridge .ingredientName {
        width: 60px;
        height: 36px;
        margin: 6px auto 0 auto;
        padding: 2px 2px;
        font-family: "Prompt";
        font-size: 10px;
        font-weight: 300;
        text-align: center;
        line-height: 13px;
        border-top: 1px solid rgba(1, 61, 61, 0.4); }
      .fridgeSection .selectionsBox .selection .ingrHidden,
      .fridgeSection .selectionsBox .temporary .ingrHidden,
      .fridgeSection .selectionsBox .fridge .ingrHidden,
      .fridgeSection .fridgeBox .selection .ingrHidden,
      .fridgeSection .fridgeBox .temporary .ingrHidden,
      .fridgeSection .fridgeBox .fridge .ingrHidden {
        display: none; }
      .fridgeSection .selectionsBox .selection .ingrVisible,
      .fridgeSection .selectionsBox .temporary .ingrVisible,
      .fridgeSection .selectionsBox .fridge .ingrVisible,
      .fridgeSection .fridgeBox .selection .ingrVisible,
      .fridgeSection .fridgeBox .temporary .ingrVisible,
      .fridgeSection .fridgeBox .fridge .ingrVisible {
        display: block; }
    .fridgeSection .selectionsBox .selection,
    .fridgeSection .fridgeBox .selection {
      height: 100%;
      width: 100%;
      height: 210px;
      padding: 0 4%; }
      .fridgeSection .selectionsBox .selection .ingredient,
      .fridgeSection .fridgeBox .selection .ingredient {
        width: 66px;
        height: 92px;
        margin: 6px auto;
        padding: 0 0;
        background: rgba(111, 129, 82, 0.8);
        box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.1), -2px -2px 4px 0 rgba(20, 20, 20, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2); }
    .fridgeSection .selectionsBox .temporary,
    .fridgeSection .selectionsBox .fridge,
    .fridgeSection .fridgeBox .temporary,
    .fridgeSection .fridgeBox .fridge {
      width: 100%;
      height: 100px;
      padding: 0 4%; }
    .fridgeSection .selectionsBox .temporary,
    .fridgeSection .fridgeBox .temporary {
      border-bottom: 1px solid rgba(1, 61, 61, 0.2); }
      .fridgeSection .selectionsBox .temporary .selected,
      .fridgeSection .fridgeBox .temporary .selected {
        width: 66px;
        height: 92px;
        margin: 6px auto;
        padding: 0 0;
        background: rgba(111, 129, 82, 0.8);
        box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.1), -2px -2px 4px 0 rgba(20, 20, 20, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2); }
    .fridgeSection .selectionsBox .fridge .ingredientName,
    .fridgeSection .fridgeBox .fridge .ingredientName {
      border-top: 1px solid rgba(87, 58, 24, 0.8); }
    .fridgeSection .selectionsBox .fridge .myIngredient,
    .fridgeSection .fridgeBox .fridge .myIngredient {
      width: 66px;
      height: 90px;
      margin: 6px auto;
      padding: 0 0;
      background: rgba(150, 103, 45, 0.8);
      box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.1), -2px -2px 4px 0 rgba(20, 20, 20, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2); }

.mealTypesSection {
  width: 100%;
  max-width: 576px;
  min-height: 496px;
  margin: 0 auto;
  padding: 0 0;
  background: url(../assets/img/bgPhotoSmall.jpg);
  background-size: cover;
  border: none;
  box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.1), -2px -2px 4px 0 rgba(20, 20, 20, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2); }
  .mealTypesSection .titleRow,
  .mealTypesSection .typesAndDietsForm {
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0 0; }
  .mealTypesSection .titleRow {
    width: 100%;
    max-width: 100%;
    min-height: 32px;
    margin: 0 0;
    padding: 0 0;
    background: #ca9c27;
    border: none; }
    .mealTypesSection .titleRow .titleBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      max-width: 100%;
      min-height: 32px;
      margin: 0 0;
      padding: 2px 0 0 0;
      border: none; }
      .mealTypesSection .titleRow .titleBox .mealTitle {
        width: 100%;
        max-width: 100%;
        min-height: 18px;
        margin: 0 0;
        padding: 0 0;
        font-family: "Quicksand";
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-shadow: 0 0 3px white;
        border: none; }
  .mealTypesSection .typesAndDietsForm {
    width: 100%;
    max-width: 100%;
    height: 496px;
    margin: 0 0;
    padding: 0 0;
    background: rgba(255, 255, 255, 0.8);
    border: none; }
    .mealTypesSection .typesAndDietsForm .typesCol,
    .mealTypesSection .typesAndDietsForm .dietsCol {
      width: 100%;
      max-width: 100%;
      margin: 0 0;
      padding: 0 0; }
    .mealTypesSection .typesAndDietsForm .formTitleBox {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      min-height: 26px;
      margin: 0 0;
      padding: 3px 0 0 0;
      background: #8D8F53;
      border-top: 1px solid #013d3d;
      border-bottom: 1px solid #013d3d; }
      .mealTypesSection .typesAndDietsForm .formTitleBox .typesTitle,
      .mealTypesSection .typesAndDietsForm .formTitleBox .dietsTitle {
        min-height: 24px;
        margin: 0 0;
        padding: 0 0;
        color: #013d3d;
        font-family: "Quicksand";
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center; }
    .mealTypesSection .typesAndDietsForm .mealTypes,
    .mealTypesSection .typesAndDietsForm .diets {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      padding: 6px 6px 2px 6px;
      z-index: 5; }
      .mealTypesSection .typesAndDietsForm .mealTypes .checkBtn,
      .mealTypesSection .typesAndDietsForm .diets .checkBtn {
        position: relative;
        display: block;
        min-width: 43%;
        max-width: 43%;
        margin: 0 auto;
        padding: 0 0; }
      .mealTypesSection .typesAndDietsForm .mealTypes label,
      .mealTypesSection .typesAndDietsForm .diets label {
        display: block;
        height: 23px;
        margin: 0 0;
        padding: 1px 36px 0 3px;
        color: #525252;
        font-family: "Prompt";
        font-size: 12px;
        font-weight: 400;
        text-align: right;
        background: rgba(196, 162, 67, 0.7);
        border: 1px solid rgba(121, 121, 121, 0.6);
        border-radius: 4px;
        cursor: pointer; }
        .mealTypesSection .typesAndDietsForm .mealTypes label:after, .mealTypesSection .typesAndDietsForm .mealTypes label:before,
        .mealTypesSection .typesAndDietsForm .diets label:after,
        .mealTypesSection .typesAndDietsForm .diets label:before {
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 3px;
          border: 1px solid rgba(121, 121, 121, 0.2);
          background: rgba(202, 156, 39, 0.8); }
        .mealTypesSection .typesAndDietsForm .mealTypes label:before,
        .mealTypesSection .typesAndDietsForm .diets label:before {
          background: transparent;
          transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.25s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
          z-index: 2;
          overflow: hidden;
          background-repeat: no-repeat;
          background-size: 9px;
          background-position-y: center;
          width: 0;
          height: 0;
          background-image: url(../assets/icons/checkmark_yellow2.png); }
        .mealTypesSection .typesAndDietsForm .mealTypes label:hover,
        .mealTypesSection .typesAndDietsForm .diets label:hover {
          color: #F2B035;
          background: #1c6672;
          border-color: #17545e; }
      .mealTypesSection .typesAndDietsForm .mealTypes input[type="checkbox"],
      .mealTypesSection .typesAndDietsForm .mealTypes input[type="radio"],
      .mealTypesSection .typesAndDietsForm .diets input[type="checkbox"],
      .mealTypesSection .typesAndDietsForm .diets input[type="radio"] {
        display: none;
        position: absolute;
        width: 100%;
        appearance: none; }
        .mealTypesSection .typesAndDietsForm .mealTypes input[type="checkbox"]:checked + label,
        .mealTypesSection .typesAndDietsForm .mealTypes input[type="radio"]:checked + label,
        .mealTypesSection .typesAndDietsForm .diets input[type="checkbox"]:checked + label,
        .mealTypesSection .typesAndDietsForm .diets input[type="radio"]:checked + label {
          color: #F2B035;
          background: #e4c473;
          background: #1c6672;
          animation-name: blink;
          animation-duration: 0.15s;
          border-color: #305d64;
          box-shadow: inset 1px 1px 1px 0 rgba(192, 186, 95, 0.1), inset -1px -1px 1px 0 rgba(192, 186, 95, 0.1); }
          .mealTypesSection .typesAndDietsForm .mealTypes input[type="checkbox"]:checked + label:after,
          .mealTypesSection .typesAndDietsForm .mealTypes input[type="radio"]:checked + label:after,
          .mealTypesSection .typesAndDietsForm .diets input[type="checkbox"]:checked + label:after,
          .mealTypesSection .typesAndDietsForm .diets input[type="radio"]:checked + label:after {
            background: #305d64;
            border: 1px solid rgba(202, 156, 39, 0.8);
            width: 16px;
            height: 16px; }
          .mealTypesSection .typesAndDietsForm .mealTypes input[type="checkbox"]:checked + label:before,
          .mealTypesSection .typesAndDietsForm .mealTypes input[type="radio"]:checked + label:before,
          .mealTypesSection .typesAndDietsForm .diets input[type="checkbox"]:checked + label:before,
          .mealTypesSection .typesAndDietsForm .diets input[type="radio"]:checked + label:before {
            width: 16px;
            height: 16px; }
    .mealTypesSection .typesAndDietsForm .mealTypes {
      flex-direction: column;
      align-items: space-evenly;
      height: 186px;
      margin: 0 0;
      padding: 10px 0 0 0; }
      .mealTypesSection .typesAndDietsForm .mealTypes .typerow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 24px;
        padding: 0 0;
        margin: 1px auto 0 auto; }
      .mealTypesSection .typesAndDietsForm .mealTypes label:after, .mealTypesSection .typesAndDietsForm .mealTypes label:before {
        right: 6px;
        top: 4px; }
      .mealTypesSection .typesAndDietsForm .mealTypes label::before {
        background-position-x: 3px; }
    .mealTypesSection .typesAndDietsForm .diets {
      flex-direction: column;
      align-items: flex-start;
      height: 175px;
      margin: 0 0;
      padding: 10px 0 0 0; }
      .mealTypesSection .typesAndDietsForm .diets .checkBtn {
        min-width: 94%;
        height: 24px;
        margin-bottom: 3px; }
      .mealTypesSection .typesAndDietsForm .diets label {
        height: 24px;
        padding: 1px 0 0 32px;
        text-align: left; }
        .mealTypesSection .typesAndDietsForm .diets label:after, .mealTypesSection .typesAndDietsForm .diets label:before {
          left: 6px;
          top: 4px; }
        .mealTypesSection .typesAndDietsForm .diets label::before {
          background-position-x: 3px; }
  .mealTypesSection .submitTypes {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 30px;
    margin: 0 0;
    margin: 0 0;
    padding: 0 3.5% 4px 3.5%; }
    .mealTypesSection .submitTypes .submitBtn {
      width: 60px;
      height: 26px;
      padding: 1px 4px;
      color: #013d3d;
      color: #F2B035;
      font-family: "Prompt";
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2px;
      background: #F2B035;
      background: #8D8F53;
      background: #1c6672;
      border: 1px solid #013d3d;
      border-radius: 3px;
      box-shadow: 1px 1px 1px 0 rgba(192, 186, 95, 0.1), -1px -1px 1px 0 rgba(192, 186, 95, 0.1);
      cursor: pointer;
      opacity: 0; }
      .mealTypesSection .submitTypes .submitBtn:hover {
        color: #F2B035;
        color: #013d3d;
        background: #1c6672;
        background: #8D8F53;
        box-shadow: none; }

.recipeNav {
  width: 100%;
  max-width: 100%;
  height: 38px;
  margin: 0 0;
  padding: 0 6px;
  background-color: #800018;
  border-top: 2px solid #013d3d;
  border-bottom: 2px solid #013d3d;
  z-index: 8; }
  .recipeNav .btn {
    min-width: 94px;
    max-width: 94px;
    color: #013d3d;
    text-decoration: none;
    padding: 0 0;
    margin: 0 0; }
    .recipeNav .btn .button {
      min-width: 92px;
      max-width: 92px;
      height: 24px;
      padding: 0 4px 2px 4px;
      color: #013d3d;
      font-family: "Prompt";
      font-size: 12px;
      letter-spacing: 0px;
      background: #F2B035;
      border: 1px solid #013d3d;
      border-radius: 3px;
      box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.1), -2px -2px 4px 0 rgba(20, 20, 20, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2);
      cursor: pointer; }
      .recipeNav .btn .button:hover {
        color: #F2B035;
        background: #1c6672;
        box-shadow: none; }
  .recipeNav .nameButton {
    height: 32px;
    margin: 0 auto;
    padding: 0 0 4px 0;
    background: transparent;
    border: none;
    cursor: pointer; }
    .recipeNav .nameButton .appName {
      width: 106px;
      margin: 0 auto;
      padding: 0 0;
      color: #F2B035;
      font-family: "Saira Semi Condensed";
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      letter-spacing: 1px;
      text-shadow: 0 0 3px black; }
  .recipeNav .buttonOnload {
    display: none; }
  .recipeNav .buttonVisible {
    display: block;
    animation: fadeIn 2s forwards; }
  .recipeNav .buttonHidden {
    animation: fadeOutButton 2s forwards; }

.bottomSection .recipeOneBox,
.bottomSection .recipeTwoBox {
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  background: url(../assets/img/bgPhotoSmall.jpg) no-repeat;
  background-size: cover;
  background-position-x: -80px; }
  .bottomSection .recipeOneBox .mainTitleBox,
  .bottomSection .recipeTwoBox .mainTitleBox {
    min-width: 100%;
    height: 34px;
    margin: 0 auto;
    padding: 0 0;
    background: rgba(202, 156, 39, 0.8);
    border-top: 1px solid #013d3d;
    border-bottom: 1px solid #013d3d; }
    .bottomSection .recipeOneBox .mainTitleBox .boxTitle,
    .bottomSection .recipeTwoBox .mainTitleBox .boxTitle {
      min-width: 100%;
      min-height: 34px;
      margin: 0 auto;
      padding: 6px 0 0 0;
      font-family: "Quicksand";
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-shadow: 0 0 4px white; }
  .bottomSection .recipeOneBox .recipeOne,
  .bottomSection .recipeOneBox .recipeTwo,
  .bottomSection .recipeTwoBox .recipeOne,
  .bottomSection .recipeTwoBox .recipeTwo {
    width: 100%;
    min-height: 166px;
    margin: 0 0;
    padding: 0 0; }
    .bottomSection .recipeOneBox .recipeOne .recipeContent,
    .bottomSection .recipeOneBox .recipeTwo .recipeContent,
    .bottomSection .recipeTwoBox .recipeOne .recipeContent,
    .bottomSection .recipeTwoBox .recipeTwo .recipeContent {
      box-sizing: content-box;
      flex-direction: column;
      margin: 0 0;
      padding: 4px 4px 8px 4px; }
    .bottomSection .recipeOneBox .recipeOne .contentHidden,
    .bottomSection .recipeOneBox .recipeTwo .contentHidden,
    .bottomSection .recipeTwoBox .recipeOne .contentHidden,
    .bottomSection .recipeTwoBox .recipeTwo .contentHidden {
      display: none; }
    .bottomSection .recipeOneBox .recipeOne .contentVisible,
    .bottomSection .recipeOneBox .recipeTwo .contentVisible,
    .bottomSection .recipeTwoBox .recipeOne .contentVisible,
    .bottomSection .recipeTwoBox .recipeTwo .contentVisible {
      display: flex; }
    .bottomSection .recipeOneBox .recipeOne .recipeTitleBox,
    .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox,
    .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox,
    .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 98%;
      margin: 6px auto;
      padding: 6px 7px;
      background: rgba(131, 153, 96, 0.8);
      border: 1px solid #013d3d;
      border-radius: 2px; }
      .bottomSection .recipeOneBox .recipeOne .recipeTitleBox .photoBox,
      .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox .photoBox,
      .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox .photoBox,
      .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox .photoBox {
        display: none;
        max-width: 120px;
        min-width: 120px;
        max-height: 96px;
        min-height: 96px;
        margin: 4px 6px 4px 3px;
        background: rgba(87, 58, 24, 0.8);
        border: 1px solid #013d3d;
        overflow: hidden; }
        .bottomSection .recipeOneBox .recipeOne .recipeTitleBox .photoBox .recipePhoto,
        .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox .photoBox .recipePhoto,
        .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox .photoBox .recipePhoto,
        .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox .photoBox .recipePhoto {
          margin: 0 auto; }
      .bottomSection .recipeOneBox .recipeOne .recipeTitleBox .recipeTitle,
      .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox .recipeTitle,
      .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox .recipeTitle,
      .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox .recipeTitle {
        margin: 0 0;
        padding: 4px 6px 0px 6px; }
        .bottomSection .recipeOneBox .recipeOne .recipeTitleBox .recipeTitle h4,
        .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox .recipeTitle h4,
        .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox .recipeTitle h4,
        .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox .recipeTitle h4 {
          color: #013d3d;
          font-family: "Prompt";
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 28px; }
        .bottomSection .recipeOneBox .recipeOne .recipeTitleBox .recipeTitle span,
        .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox .recipeTitle span,
        .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox .recipeTitle span,
        .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox .recipeTitle span {
          color: #ffffff; }
    .bottomSection .recipeOneBox .recipeOne .recipeDetails,
    .bottomSection .recipeOneBox .recipeTwo .recipeDetails,
    .bottomSection .recipeTwoBox .recipeOne .recipeDetails,
    .bottomSection .recipeTwoBox .recipeTwo .recipeDetails {
      display: flex;
      flex-direction: column;
      width: 98%;
      margin: 0 auto;
      padding: 6px 6px;
      background: rgba(150, 103, 45, 0.8);
      border: 1px solid #78564C;
      border-radius: 2px; }
      .bottomSection .recipeOneBox .recipeOne .recipeDetails .photoBox,
      .bottomSection .recipeOneBox .recipeTwo .recipeDetails .photoBox,
      .bottomSection .recipeTwoBox .recipeOne .recipeDetails .photoBox,
      .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .photoBox {
        display: block;
        max-width: 120px;
        min-width: 120px;
        max-height: 96px;
        min-height: 96px;
        margin: 2px 6px 12px 3px;
        background: rgba(87, 58, 24, 0.8);
        border: 1px solid #78564C;
        overflow: hidden; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .photoBox .recipePhoto,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .photoBox .recipePhoto,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .photoBox .recipePhoto,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .photoBox .recipePhoto {
          margin: 0 auto; }
      .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeText,
      .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeText,
      .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeText,
      .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeText {
        margin: 0 0;
        padding: 6px 6px;
        color: #ffffff;
        font-family: "Prompt";
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 1px;
        text-shadow: 0 1px 2px black; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeText a,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeText a,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeText a,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeText a {
          color: #243e69;
          font-weight: 600;
          text-shadow: none;
          text-decoration: underline;
          text-underline-offset: 4px;
          text-decoration-color: rgba(242, 176, 53, 0.8); }
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeText a:hover,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeText a:hover,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeText a:hover,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeText a:hover {
            color: #013d3d;
            text-decoration-color: #243e69;
            cursor: pointer; }
      .bottomSection .recipeOneBox .recipeOne .recipeDetails .titleBox,
      .bottomSection .recipeOneBox .recipeTwo .recipeDetails .titleBox,
      .bottomSection .recipeTwoBox .recipeOne .recipeDetails .titleBox,
      .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .titleBox {
        margin: 6px 6px 0 6px;
        height: 28px;
        padding-bottom: 1px;
        color: #013d3d;
        font-family: "Prompt";
        letter-spacing: 1px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #013d3d; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .titleBox h4,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .titleBox h4,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .titleBox h4,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .titleBox h4 {
          padding-bottom: 0px;
          font-size: 18px;
          font-weight: 300; }
      .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList,
      .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions,
      .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList,
      .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions,
      .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList,
      .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions,
      .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList,
      .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions {
        margin: 0 0; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList img,
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions img,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList img,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions img,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList img,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions img,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList img,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions img {
          min-width: 8px;
          max-width: 8px;
          min-height: 8px;
          max-height: 8px;
          margin: 2px 0 0 0; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList p,
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions p,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList p,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions p,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList p,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions p,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList p,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions p {
          margin: 0 14px 0 6px;
          padding: 0 0;
          color: #ffffff;
          font-family: "Prompt";
          font-size: 13px;
          font-weight: 200;
          letter-spacing: 1px; }
      .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList,
      .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList,
      .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList,
      .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList {
        padding: 6px 22px 6px 12px; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList .ingr,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList .ingr,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList .ingr,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList .ingr {
          display: inline; }
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList .ingr p,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList .ingr p,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList .ingr p,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList .ingr p {
            display: inline; }
      .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions,
      .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions,
      .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions,
      .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions {
        padding: 6px 6px; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions .step,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions .step,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions .step,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions .step {
          display: flex;
          margin-bottom: 4px; }
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions .step img,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions .step img,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions .step img,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions .step img {
            margin: 8px 2px 0 0; }
.bottomSection .recipeOneBox {
  margin-top: -2px; }

.navUp {
  position: fixed;
  right: 0px;
  min-width: 12%;
  max-width: 12%;
  margin: 0 0 0 87.5%;
  padding: 4px 6px;
  background: transparent;
  border: none;
  z-index: 4; }
  .navUp .upLink {
    min-width: 28px;
    max-width: 28px;
    color: #013d3d;
    text-decoration: none;
    padding: 0 0;
    margin: 0 auto;
    z-index: 4; }
  .navUp .upBtn {
    min-width: 28px;
    max-width: 28px;
    min-height: 26px;
    max-height: 26px;
    padding: 2px 4px;
    font-family: "Prompt";
    font-size: 12px;
    letter-spacing: 0px;
    text-decoration: none;
    background: #F2B035;
    border: 1px solid #013d3d;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.1), -2px -2px 4px 0 rgba(20, 20, 20, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer; }

.bottomNav {
  width: 100%;
  height: 36px;
  padding: 0 6px; }
  .bottomNav .moreLink {
    width: 50%;
    padding: 2px 0; }
  .bottomNav .moreBtn {
    min-height: 25px;
    max-height: 25px;
    padding: 0 6px; }

.sectionVisible {
  display: flex;
  flex-direction: column; }

.sectionHidden {
  display: none;
  height: 0px; }

/********** Animations ***********************************/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOutButton {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }
/********** Responsiveness *******************************/
/********** Responsiveness WIDTH *************************/
@media (min-width: 992px) {
  .bottomSection .recipeOneBox,
  .bottomSection .recipeTwoBox {
    background: url(../assets/img/bgPhotoOriginal.jpg);
    background-size: cover !important; }

  .recipeTwoBox {
    width: 50%;
    margin-top: -2px !important;
    border-left: 1px solid #013d3d; } }

/*# sourceMappingURL=stylesheetIndex.css.map */
