.main {
  width: 100%; }

.page {
  width: 100%;
  margin: 0 0; }

.navbar {
  height: 38px;
  background-color: #800018;
  border-top: 2px solid #014040;
  border-bottom: 2px solid #014040; }
  .navbar .button {
    width: 90px;
    max-height: 29px;
    padding: 2px 2px;
    color: #013d3d;
    font-size: 12px;
    background: goldenrod;
    border: 1px solid #014040;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(65, 65, 65, 0.6), 0 0 1px 0 black; }
    .navbar .button:hover {
      color: #ffffff;
      background: #1c6672;
      box-shadow: none; }
  .navbar .appName {
    margin: 2px 0 0 0;
    padding: 0 0;
    color: #F2B035;
    font-family: "Varela Round";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 0 2px black; }

.infoTopNav {
  margin: 0 0;
  padding: 0 0; }

.topSection {
  width: 100%;
  margin: 0 0;
  padding: 0 0; }
  .topSection .sectionBg {
    background: url(../assets/img/bgPhotoSmall.jpg) no-repeat;
    background-size: cover; }
  .topSection .explainBox {
    width: 100%;
    min-height: 248px; }
    .topSection .explainBox .boxTitle {
      height: 36px;
      margin: 0 0;
      padding-top: 6px;
      font-family: "Lexend Deca";
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: rgba(131, 153, 96, 0.8);
      border-top: 1px solid #014040;
      border-bottom: 1px solid #014040;
      text-shadow: 0 0 10px white; }
  .topSection .explainBox .explainText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0 20px 0;
    padding: 4px 10px;
    background: rgba(184, 170, 100, 0.4);
    border: 1px solid #78564C;
    border-radius: 4px; }
  .topSection .explainBox .explainSubTitles {
    width: 56%;
    height: 28px;
    margin: 8px 0 4px 0;
    padding: 3px 8px 0 8px;
    color: #013d3d;
    font-family: "Jura";
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    background: rgba(131, 153, 96, 0.8);
    border: 1px solid #014040;
    border-radius: 2px; }
  .topSection .explainBox .partText {
    margin: 0 0 8px 0;
    padding: 6px 8px;
    color: #ffffff;
    font-family: "Jura";
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    background: rgba(150, 103, 45, 0.7);
    border: 1px solid #78564C;
    border-radius: 2px;
    text-shadow: 0 0 1px black; }
    .topSection .explainBox .partText span {
      color: #fdcb3f;
      font-weight: 600;
      text-shadow: 0 0 1px black; }
    .topSection .explainBox .partText q {
      color: #33565f; }

.bottomSection {
  width: 100%;
  margin: 0 0;
  padding: 0 0; }
  .bottomSection .sectionBg {
    background: url(../assets/img/bgPhotoSmall.jpg) no-repeat;
    background-size: cover; }
  .bottomSection .contactBox {
    width: 100%;
    min-height: 248px; }
    .bottomSection .contactBox .boxTitle {
      height: 36px;
      margin: 0 0;
      padding-top: 6px;
      font-family: "Lexend Deca";
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: rgba(131, 153, 96, 0.8);
      border-top: 1px solid #014040;
      border-bottom: 1px solid #014040;
      text-shadow: 0 0 10px white; }
    .bottomSection .contactBox .form,
    .bottomSection .contactBox .comment {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 8px 0 6px 0;
      padding: 8px 10px;
      background: rgba(184, 170, 100, 0.4);
      border: 1px solid #78564C;
      border-radius: 4px; }
      .bottomSection .contactBox .form .inputLabel,
      .bottomSection .contactBox .comment .inputLabel {
        width: 44%;
        height: 28px;
        margin: 8px 0 4px 0;
        padding: 0 8px 2px 8px;
        color: #013d3d;
        font-family: "Jura";
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 1px;
        background: rgba(131, 153, 96, 0.8);
        border: 1px solid #014040;
        border-radius: 4px; }
      .bottomSection .contactBox .form .textareaLabel,
      .bottomSection .contactBox .comment .textareaLabel {
        width: 84%;
        height: 28px; }
      .bottomSection .contactBox .form input,
      .bottomSection .contactBox .form textarea,
      .bottomSection .contactBox .comment input,
      .bottomSection .contactBox .comment textarea {
        margin: 0 0 8px 0;
        padding: 4px 8px 2px 8px;
        color: #ffffff;
        font-family: "Jura";
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        background: rgba(242, 220, 107, 0.3);
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid #78564C;
        border-radius: 4px;
        text-shadow: 0 0 2px black;
        box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.4); }
        .bottomSection .contactBox .form input::placeholder,
        .bottomSection .contactBox .form textarea::placeholder,
        .bottomSection .contactBox .comment input::placeholder,
        .bottomSection .contactBox .comment textarea::placeholder {
          color: rgba(0, 0, 0, 0.8);
          font-family: "Gugi";
          font-weight: 400;
          text-shadow: none; }
    .bottomSection .contactBox .comment {
      margin: 0 0 48px 0; }

.infBottomNav {
  position: fixed;
  margin: 0 0;
  padding: 0 0;
  bottom: 0; }

.sectionVisible {
  display: flex;
  flex-direction: column; }

.sectionHidden {
  display: none;
  height: 0px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=stylesheetInfo.css.map */
