body {
  background: url(../assets/img/bgPhotoSmall.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.navbar {
  height: 44px;
  background-color: #800018;
  border-top: 2px solid #013d3d;
  border-bottom: 2px solid #013d3d; }
  .navbar .button {
    height: 28px;
    padding: 2px 10px 2px 10px;
    color: #013d3d;
    font-family: "Prompt";
    font-size: 12px;
    background: #F2B035;
    border: 1px solid #013d3d;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0 rgba(26, 26, 26, 0.1), -2px -2px 4px 0 rgba(26, 26, 26, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    .navbar .button:hover {
      color: #F2B035;
      background: #1c6672;
      box-shadow: none; }
  .navbar input:focus {
    outline: 1px solid #013d3d;
    border: 1px solid #013d3d; }
  .navbar input::-moz-focus-inner {
    outline: 1px solid #013d3d;
    border: 1px solid #013d3d; }

@keyframes navSlideUp {
  0% {
    top: 0; }
  50% {
    top: 0; }
  100% {
    top: -38px; } }
@keyframes navSlideDown {
  0% {
    top: -38px; }
  100% {
    top: 0; } }
@keyframes pageMoveUp {
  0% {
    margin-top: 38px; }
  50% {
    margin-top: 38px; }
  100% {
    margin-top: 0; } }
@keyframes pageMoveDown {
  0% {
    margin-top: 0; }
  100% {
    margin-top: 38px; } }
.topNav {
  position: fixed;
  width: 100%;
  max-height: 38px;
  top: 0;
  margin: 0 0;
  padding: 4px 8px;
  border-bottom: none; }
  .topNav .button {
    width: 92px;
    height: 22px;
    padding: 1px 4px 2px 4px; }
  .topNav .appName {
    margin: 4px auto 0 auto;
    padding: 0 0;
    color: #F2B035;
    font-family: "Saira Semi Condensed";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 0 2px black; }

.underNav {
  width: 100%;
  max-height: 44px;
  margin-top: 0;
  padding: 0 8px; }
  .underNav .navBtnCol .menuBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 27px;
    padding: 3px 6px 3px 6px;
    visibility: hidden;
    opacity: 0; }
    .underNav .navBtnCol .menuBtn .imgOne {
      height: 12px;
      width: 14px; }
    .underNav .navBtnCol .menuBtn .imgTwo {
      height: 6px;
      width: 12px; }
  .underNav .searchCol .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(131, 153, 96, 0.8);
    border: 1px solid #013d3d;
    border-radius: 3px;
    box-shadow: inset 2px 2px 4px 0 rgba(26, 26, 26, 0.1), inset -2px -2px 4px 0 rgba(26, 26, 26, 0.1), inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px 1px rgba(0, 0, 0, 0.3); }
    .underNav .searchCol .form .search {
      height: 28px;
      max-width: 200px;
      margin: 0 0;
      padding: 2px 6px 2px 6px;
      color: #ecd27c;
      font-family: "Prompt";
      font-size: 14px;
      font-weight: 200;
      background: transparent;
      border: none; }
      .underNav .searchCol .form .search::placeholder {
        color: rgba(1, 61, 61, 0.8);
        font-family: "Prompt";
        font-size: 14px;
        font-weight: 100; }
    .underNav .searchCol .form input:focus {
      outline: 1px solid #013d3d;
      border: 1px solid #013d3d; }
    .underNav .searchCol .form input::-moz-focus-inner {
      outline: 1px solid #013d3d;
      border: 1px solid #013d3d; }
    .underNav .searchCol .form .searchBtn {
      width: 32px;
      height: 28px;
      margin: 0 0;
      padding: 0 3px 1px 3px;
      background: rgba(242, 176, 53, 0.6);
      border: none;
      border-left: 1px solid #013d3d;
      box-shadow: inset 2px 2px 4px 0 rgba(26, 26, 26, 0.1), inset -2px -2px 4px 0 rgba(26, 26, 26, 0.1), inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px 1px rgba(0, 0, 0, 0.3); }
      .underNav .searchCol .form .searchBtn .searchImg {
        height: 17px;
        width: 17px; }
      .underNav .searchCol .form .searchBtn:hover {
        background: rgba(28, 102, 114, 0.6); }
  .underNav .resetCol .resetBtn {
    width: 30px;
    height: 27px;
    margin: auto;
    padding: 3px 3px; }
    .underNav .resetCol .resetBtn .resetImg {
      height: 17px;
      width: 17px; }

.topSection .selectionsBox,
.topSection .fridgeBox {
  width: 100%;
  min-height: 241px;
  margin: 0 0;
  padding: 0 0; }
  .topSection .selectionsBox .titleBox,
  .topSection .fridgeBox .titleBox {
    min-width: 100%;
    height: 34px;
    margin: 0 auto;
    padding: 0 0;
    background: rgba(202, 156, 39, 0.8);
    border-top: 1px solid #013d3d;
    border-bottom: 1px solid #013d3d; }
    .topSection .selectionsBox .titleBox .selectionTitle,
    .topSection .selectionsBox .titleBox .fridgeTitle,
    .topSection .fridgeBox .titleBox .selectionTitle,
    .topSection .fridgeBox .titleBox .fridgeTitle {
      min-width: 100%;
      height: 34px;
      margin: 0 auto;
      padding: 6px 0 0 0;
      font-family: "Quicksand";
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-shadow: 0 0 3px white; }
  .topSection .selectionsBox .selection,
  .topSection .selectionsBox .temporary,
  .topSection .selectionsBox .fridge,
  .topSection .fridgeBox .selection,
  .topSection .fridgeBox .temporary,
  .topSection .fridgeBox .fridge {
    align-items: center;
    margin: 0 0;
    padding: 2px 4%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; }
    .topSection .selectionsBox .selection::-webkit-scrollbar,
    .topSection .selectionsBox .temporary::-webkit-scrollbar,
    .topSection .selectionsBox .fridge::-webkit-scrollbar,
    .topSection .fridgeBox .selection::-webkit-scrollbar,
    .topSection .fridgeBox .temporary::-webkit-scrollbar,
    .topSection .fridgeBox .fridge::-webkit-scrollbar {
      display: none; }
    .topSection .selectionsBox .selection .ingredientImgBox,
    .topSection .selectionsBox .temporary .ingredientImgBox,
    .topSection .selectionsBox .fridge .ingredientImgBox,
    .topSection .fridgeBox .selection .ingredientImgBox,
    .topSection .fridgeBox .temporary .ingredientImgBox,
    .topSection .fridgeBox .fridge .ingredientImgBox {
      min-width: 60px;
      max-width: 60px;
      min-height: 50px;
      max-height: 50px;
      margin: 3px auto;
      background: white;
      box-shadow: inset 2px 2px 4px 0 rgba(26, 26, 26, 0.1), inset -2px -2px 4px 0 rgba(26, 26, 26, 0.1), inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px 1px rgba(0, 0, 0, 0.3);
      overflow: hidden; }
    .topSection .selectionsBox .selection .ingredientImg,
    .topSection .selectionsBox .temporary .ingredientImg,
    .topSection .selectionsBox .fridge .ingredientImg,
    .topSection .fridgeBox .selection .ingredientImg,
    .topSection .fridgeBox .temporary .ingredientImg,
    .topSection .fridgeBox .fridge .ingredientImg {
      width: 60px;
      height: 50px; }
    .topSection .selectionsBox .selection .ingredientName,
    .topSection .selectionsBox .temporary .ingredientName,
    .topSection .selectionsBox .fridge .ingredientName,
    .topSection .fridgeBox .selection .ingredientName,
    .topSection .fridgeBox .temporary .ingredientName,
    .topSection .fridgeBox .fridge .ingredientName {
      width: 60px;
      min-height: 32px;
      max-height: 36px;
      margin: 6px auto 0 auto;
      padding: 2px 2px;
      color: #212719;
      font-family: "Prompt";
      font-size: 10px;
      font-weight: 300;
      text-align: center;
      line-height: 13px;
      border-top: 1px solid rgba(1, 61, 61, 0.4); }
    .topSection .selectionsBox .selection .ingrHidden,
    .topSection .selectionsBox .temporary .ingrHidden,
    .topSection .selectionsBox .fridge .ingrHidden,
    .topSection .fridgeBox .selection .ingrHidden,
    .topSection .fridgeBox .temporary .ingrHidden,
    .topSection .fridgeBox .fridge .ingrHidden {
      display: none; }
    .topSection .selectionsBox .selection .ingrVisible,
    .topSection .selectionsBox .temporary .ingrVisible,
    .topSection .selectionsBox .fridge .ingrVisible,
    .topSection .fridgeBox .selection .ingrVisible,
    .topSection .fridgeBox .temporary .ingrVisible,
    .topSection .fridgeBox .fridge .ingrVisible {
      display: block; }
  .topSection .selectionsBox .selection,
  .topSection .fridgeBox .selection {
    height: 100%;
    width: 100%;
    min-height: 210px;
    max-height: 210px; }
    .topSection .selectionsBox .selection .ingredient,
    .topSection .fridgeBox .selection .ingredient {
      width: 66px;
      min-height: 92px;
      max-height: 92px;
      margin: 6px auto;
      padding: 0 0;
      background: rgba(111, 129, 82, 0.8);
      box-shadow: 2px 2px 4px 0 rgba(26, 26, 26, 0.1), -2px -2px 4px 0 rgba(26, 26, 26, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2); }
  .topSection .selectionsBox .temporary,
  .topSection .selectionsBox .fridge,
  .topSection .fridgeBox .temporary,
  .topSection .fridgeBox .fridge {
    min-height: 100px;
    max-height: 100px;
    width: 100%; }
  .topSection .selectionsBox .temporary,
  .topSection .fridgeBox .temporary {
    border-bottom: 1px solid rgba(1, 61, 61, 0.2); }
    .topSection .selectionsBox .temporary .selected,
    .topSection .fridgeBox .temporary .selected {
      width: 66px;
      min-height: 92px;
      max-height: 92px;
      margin: 6px auto;
      padding: 0 0;
      background: rgba(111, 129, 82, 0.8);
      box-shadow: 2px 2px 4px 0 rgba(26, 26, 26, 0.1), -2px -2px 4px 0 rgba(26, 26, 26, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2); }
  .topSection .selectionsBox .fridge .ingredientName,
  .topSection .fridgeBox .fridge .ingredientName {
    border-top: 1px solid rgba(87, 58, 24, 0.8); }
  .topSection .selectionsBox .fridge .myIngredient,
  .topSection .fridgeBox .fridge .myIngredient {
    width: 66px;
    min-height: 90px;
    max-height: 90px;
    margin: 6px auto;
    padding: 0 0;
    background: rgba(150, 103, 45, 0.8);
    box-shadow: 2px 2px 4px 0 rgba(26, 26, 26, 0.1), -2px -2px 4px 0 rgba(26, 26, 26, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px 1px rgba(0, 0, 0, 0.2); }
.topSection .selectionsBox {
  margin-top: -2px; }

.recipeNav {
  width: 100%;
  margin: 0 0;
  padding: 0 8px; }
  .recipeNav a {
    min-width: 103px;
    text-decoration: none;
    padding: 0 0; }
    .recipeNav a .button {
      min-width: 92px;
      height: 22px;
      padding: 1px 4px 2px 4px; }
    .recipeNav a .buttonOnload {
      display: none; }
    .recipeNav a .buttonVisible {
      display: block;
      animation: fadeIn 2s forwards; }
    .recipeNav a .buttonHidden {
      animation: fadeOutButton 2s forwards; }
  .recipeNav .nameButton {
    width: 110px;
    margin: 0 auto;
    padding: 0 0;
    background: transparent;
    border: none;
    cursor: pointer; }
    .recipeNav .nameButton .appName {
      margin: 0 auto;
      padding: 0 0;
      color: #F2B035;
      font-family: "Saira Semi Condensed";
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      letter-spacing: 1px;
      text-shadow: 0 0 3px black; }

.bottomSection {
  /*
  .recipeTwoBox {
      .boxTitle {
          border-top: $bordersGreen;
      }
  }
  */ }
  .bottomSection .recipeOneBox,
  .bottomSection .recipeTwoBox {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    background: url(../assets/img/bgPhotoSmall.jpg) no-repeat;
    background-size: cover;
    background-position-x: -80px; }
    .bottomSection .recipeOneBox .mainTitleBox,
    .bottomSection .recipeTwoBox .mainTitleBox {
      min-width: 100%;
      height: 34px;
      margin: 0 auto;
      padding: 0 0;
      background: rgba(202, 156, 39, 0.8);
      border-top: 1px solid #013d3d;
      border-bottom: 1px solid #013d3d; }
      .bottomSection .recipeOneBox .mainTitleBox .boxTitle,
      .bottomSection .recipeTwoBox .mainTitleBox .boxTitle {
        min-width: 100%;
        height: 34px;
        margin: 0 auto;
        padding: 6px 0 0 0;
        font-family: "Quicksand";
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-shadow: 0 0 4px white; }
    .bottomSection .recipeOneBox .recipeOne,
    .bottomSection .recipeOneBox .recipeTwo,
    .bottomSection .recipeTwoBox .recipeOne,
    .bottomSection .recipeTwoBox .recipeTwo {
      width: 100%;
      min-height: 166px;
      margin: 0 0;
      padding: 0 0;
      /*
      .imgCol {
          margin: 0 0;
          padding: 0 0;
      }
      .textCol {
          margin: 0 0;
          padding: 0 0;
      }
      */ }
      .bottomSection .recipeOneBox .recipeOne .recipeContent,
      .bottomSection .recipeOneBox .recipeTwo .recipeContent,
      .bottomSection .recipeTwoBox .recipeOne .recipeContent,
      .bottomSection .recipeTwoBox .recipeTwo .recipeContent {
        box-sizing: content-box;
        flex-direction: column;
        margin: 0 0;
        padding: 8px 8px; }
      .bottomSection .recipeOneBox .recipeOne .contentHidden,
      .bottomSection .recipeOneBox .recipeTwo .contentHidden,
      .bottomSection .recipeTwoBox .recipeOne .contentHidden,
      .bottomSection .recipeTwoBox .recipeTwo .contentHidden {
        display: none; }
      .bottomSection .recipeOneBox .recipeOne .contentVisible,
      .bottomSection .recipeOneBox .recipeTwo .contentVisible,
      .bottomSection .recipeTwoBox .recipeOne .contentVisible,
      .bottomSection .recipeTwoBox .recipeTwo .contentVisible {
        display: flex; }
      .bottomSection .recipeOneBox .recipeOne .recipeTitleBox,
      .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox,
      .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox,
      .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 98%;
        margin: 6px auto;
        padding: 6px 7px;
        background: rgba(131, 153, 96, 0.8);
        border: 1px solid #013d3d;
        border-radius: 2px; }
        .bottomSection .recipeOneBox .recipeOne .recipeTitleBox .photoBox,
        .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox .photoBox,
        .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox .photoBox,
        .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox .photoBox {
          display: none;
          max-width: 120px;
          min-width: 120px;
          max-height: 96px;
          min-height: 96px;
          margin: 4px 6px 4px 3px;
          background: rgba(87, 58, 24, 0.8);
          border: 1px solid #013d3d;
          overflow: hidden; }
          .bottomSection .recipeOneBox .recipeOne .recipeTitleBox .photoBox .recipePhoto,
          .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox .photoBox .recipePhoto,
          .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox .photoBox .recipePhoto,
          .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox .photoBox .recipePhoto {
            margin: 0 auto; }
        .bottomSection .recipeOneBox .recipeOne .recipeTitleBox .recipeTitle,
        .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox .recipeTitle,
        .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox .recipeTitle,
        .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox .recipeTitle {
          margin: 0 0;
          padding: 4px 6px 0px 6px; }
          .bottomSection .recipeOneBox .recipeOne .recipeTitleBox .recipeTitle h4,
          .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox .recipeTitle h4,
          .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox .recipeTitle h4,
          .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox .recipeTitle h4 {
            color: #013d3d;
            font-family: "Prompt";
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 28px; }
          .bottomSection .recipeOneBox .recipeOne .recipeTitleBox .recipeTitle span,
          .bottomSection .recipeOneBox .recipeTwo .recipeTitleBox .recipeTitle span,
          .bottomSection .recipeTwoBox .recipeOne .recipeTitleBox .recipeTitle span,
          .bottomSection .recipeTwoBox .recipeTwo .recipeTitleBox .recipeTitle span {
            color: #ffffff; }
      .bottomSection .recipeOneBox .recipeOne .recipeDetails,
      .bottomSection .recipeOneBox .recipeTwo .recipeDetails,
      .bottomSection .recipeTwoBox .recipeOne .recipeDetails,
      .bottomSection .recipeTwoBox .recipeTwo .recipeDetails {
        display: flex;
        flex-direction: column;
        width: 98%;
        margin: 0 auto;
        padding: 6px 6px;
        background: rgba(150, 103, 45, 0.8);
        border: 1px solid #78564C;
        border-radius: 2px; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .photoBox,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .photoBox,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .photoBox,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .photoBox {
          display: block;
          max-width: 120px;
          min-width: 120px;
          max-height: 96px;
          min-height: 96px;
          margin: 2px 6px 12px 3px;
          background: rgba(87, 58, 24, 0.8);
          border: 1px solid #78564C;
          overflow: hidden; }
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .photoBox .recipePhoto,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .photoBox .recipePhoto,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .photoBox .recipePhoto,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .photoBox .recipePhoto {
            margin: 0 auto; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeText,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeText,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeText,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeText {
          margin: 0 0;
          padding: 6px 6px;
          color: #ffffff;
          font-family: "Prompt";
          font-size: 14px;
          font-weight: 200;
          letter-spacing: 1px;
          text-shadow: 0 1px 2px black; }
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeText a,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeText a,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeText a,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeText a {
            color: #243e69;
            font-weight: 600;
            text-shadow: none;
            text-decoration: underline;
            text-underline-offset: 4px;
            text-decoration-color: rgba(242, 176, 53, 0.8); }
            .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeText a:hover,
            .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeText a:hover,
            .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeText a:hover,
            .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeText a:hover {
              color: #013d3d;
              text-decoration-color: #243e69;
              cursor: pointer; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .titleBox,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .titleBox,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .titleBox,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .titleBox {
          margin: 6px 6px 0 6px;
          height: 28px;
          padding-bottom: 1px;
          color: #013d3d;
          font-family: "Prompt";
          letter-spacing: 1px;
          background: transparent;
          border: none;
          border-bottom: 1px solid #013d3d; }
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .titleBox h4,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .titleBox h4,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .titleBox h4,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .titleBox h4 {
            padding-bottom: 0px;
            font-size: 18px;
            font-weight: 300; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList,
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions {
          margin: 0 0; }
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList img,
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions img,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList img,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions img,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList img,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions img,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList img,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions img {
            width: 8px;
            height: 8px;
            margin: 2px 0 0 0; }
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList p,
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions p,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList p,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions p,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList p,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions p,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList p,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions p {
            margin: 0 14px 0 6px;
            padding: 0 0;
            color: #ffffff;
            font-family: "Prompt";
            font-size: 13px;
            font-weight: 200;
            letter-spacing: 1px; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList {
          padding: 6px 22px 6px 12px; }
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList .ingr,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList .ingr,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList .ingr,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList .ingr {
            display: inline; }
            .bottomSection .recipeOneBox .recipeOne .recipeDetails .ingredientsList .ingr p,
            .bottomSection .recipeOneBox .recipeTwo .recipeDetails .ingredientsList .ingr p,
            .bottomSection .recipeTwoBox .recipeOne .recipeDetails .ingredientsList .ingr p,
            .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .ingredientsList .ingr p {
              display: inline; }
        .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions,
        .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions,
        .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions,
        .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions {
          padding: 6px 6px; }
          .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions .step,
          .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions .step,
          .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions .step,
          .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions .step {
            display: flex;
            margin-bottom: 4px; }
            .bottomSection .recipeOneBox .recipeOne .recipeDetails .recipeInstructions .step img,
            .bottomSection .recipeOneBox .recipeTwo .recipeDetails .recipeInstructions .step img,
            .bottomSection .recipeTwoBox .recipeOne .recipeDetails .recipeInstructions .step img,
            .bottomSection .recipeTwoBox .recipeTwo .recipeDetails .recipeInstructions .step img {
              margin: 8px 2px 0 0; }
  .bottomSection .recipeOneBox {
    margin-top: -2px; }

.navBottom {
  position: fixed;
  right: 0px;
  width: 10%;
  max-height: 38px;
  margin: 0 0 0 84%;
  padding: 0 6px;
  background: transparent;
  border: none;
  opacity: 0; }
  .navBottom a {
    width: 100%; }

.sectionVisible {
  display: flex;
  flex-direction: column; }

.sectionHidden {
  display: none;
  height: 0px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOutButton {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }
@media (min-width: 342px) {
  .selection,
  .temporary,
  .fridge {
    padding: 2px 6% !important; }

  .navBottom {
    margin: 0 0 0 85% !important; } }
@media (min-width: 375px) {
  .selection,
  .temporary,
  .fridge {
    padding: 2px 10% !important; }

  .recipeOneBox,
  .recipeTwoBox {
    background-position-x: 0px !important; } }
@media (min-width: 398px) {
  .selection,
  .temporary,
  .fridge {
    padding: 2px 13% !important; }

  .recipeTitleBox .photoBox {
    display: block !important; }

  .recipeDetails .photoBox {
    display: none !important; }

  .recipeContent {
    padding-bottom: 14px !important; }

  .navBottom {
    margin: 0 0 0 87% !important; } }
@media (min-width: 446px) {
  .selection,
  .temporary,
  .fridge {
    padding: 2px 16% !important; } }
@media (min-width: 464px) {
  .selection,
  .temporary,
  .fridge {
    max-width: 100% !important; } }
@media (min-width: 486px) {
  .selection,
  .temporary,
  .fridge {
    padding: 2px 19% !important; } }
@media (min-width: 512px) {
  .recipeTitleBox .recipeTitle h4 {
    font-size: 25px !important;
    line-height: 36px !important; }

  .recipeContent {
    padding-bottom: 20px !important; }

  .navBottom {
    margin: 0 0 0 89.5% !important; } }
@media (min-width: 533px) {
  .selection,
  .temporary,
  .fridge {
    padding: 2px 22% !important; } }
@media (min-width: 576px) {
  .topNav,
  .recipeNav {
    max-height: 44px !important;
    padding: 4px 6px !important; }
    .topNav .appName,
    .recipeNav .appName {
      margin: 2px auto 0 auto !important;
      padding: 0 0 !important;
      font-size: 20px !important;
      font-weight: 400 !important; }

  .ingredientImgBox {
    min-width: 64px !important;
    max-width: 64px !important;
    min-height: 56px !important;
    max-height: 56px !important;
    margin: 5px auto !important; }

  .ingredientImg {
    width: 64px !important;
    height: 56px !important; }

  .ingredientName {
    width: 64px !important;
    min-height: 34px !important;
    max-height: 38px !important;
    margin: 3px auto 0 auto !important;
    padding: 2px 2px !important;
    font-size: 11px !important;
    letter-spacing: 1px !important;
    line-height: 16px !important; }

  .recipeTwoBox {
    margin-top: -2px !important; }

  .selectionsBox .selection {
    min-height: 452px !important;
    max-height: 452px !important;
    margin: 0 auto !important;
    padding: 2px 21% !important; }
  .selectionsBox .ingredient {
    width: 74px !important;
    min-height: 106px !important;
    max-height: 106px !important;
    margin: 6px auto !important; }

  .fridgeBox {
    margin-top: -2px !important;
    border-left: 1px solid #013d3d !important; }
    .fridgeBox .temporary,
    .fridgeBox .fridge {
      min-height: 226px !important;
      max-height: 226px !important;
      margin: 0 auto !important;
      padding: 2px 21% !important; }
    .fridgeBox .selected,
    .fridgeBox .myIngredient {
      width: 74px !important;
      min-height: 106px !important;
      max-height: 106px !important;
      margin: 6px auto !important; }

  .bottomSection .mainTitleBox {
    min-height: 44px; }
    .bottomSection .mainTitleBox .boxTitle {
      font-size: 28px !important;
      font-weight: 500 !important; }
  .bottomSection .recipeContent {
    padding-bottom: 26px !important; }

  .navBottom {
    margin: 0 0 0 91% !important; } }
/*
@media (min-width: 600px) {
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 46px !important;
        }
    }
}
@media (min-width: 600px) {
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 46px !important;
        }
    }
}

@media (min-width: 629px) {
    .selectionsBox .selection {
        max-width: 80% !important;
    }
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 48px !important;
        }
    }
}

@media (min-width: 637px) {
    .selectionsBox .selection {
        max-width: 80% !important;
    }
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 50px !important;
        }
    }
}
@media (min-width: 645px) {
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 56px !important;
        }
    }
}

@media (min-width: 644px) {
    .selection,
    .temporary,
    .fridge {
        padding: 6px 24% !important;
    }
    
}

@media (min-width: 674px) {
    .selectionsBox .selection {
        max-width: 69% !important;
    }
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 23% !important;
        }
    }
}
*/
@media (min-width: 700px) {
  .ingredientImgBox {
    min-width: 80px !important;
    max-width: 80px !important;
    min-height: 62px !important;
    max-height: 62px !important;
    margin: 6px auto !important; }

  .ingredientImg {
    width: 80px !important;
    height: 62px !important; }

  .ingredientName {
    width: 80px !important;
    min-height: 38px !important;
    max-height: 42px !important;
    margin: 4px auto 0 auto !important;
    padding: 2px 2px !important;
    font-size: 13px !important;
    line-height: 17px !important; }

  .selectionsBox .selection {
    padding: 6px 20% !important; }
  .selectionsBox .ingredient {
    width: 92px !important;
    min-height: 118px !important;
    max-height: 118px !important; }

  .fridgeBox .temporary,
  .fridgeBox .fridge {
    padding: 6px 20% !important; }
  .fridgeBox .selected,
  .fridgeBox .myIngredient {
    width: 92px !important;
    min-height: 118px !important;
    max-height: 118px !important; }

  .bottomSection .mainTitleBox {
    min-height: 52px; }
    .bottomSection .mainTitleBox .boxTitle {
      font-size: 32px !important;
      font-weight: 500 !important; }

  .recipeTitleBox .recipeTitle h4 {
    font-size: 30px !important;
    font-weight: 300 !important;
    line-height: 40px !important; }

  .navBottom {
    margin: 0 0 0 92.5% !important; } }
@media (min-width: 793px) {
  .ingredientImgBox {
    min-width: 90px !important;
    max-width: 90px !important;
    min-height: 78px !important;
    max-height: 78px !important;
    margin: 4px auto !important; }

  .ingredientImg {
    width: 90px !important;
    height: 78px !important; }

  .ingredientName {
    width: 90px !important;
    min-height: 40px !important;
    max-height: 40px !important;
    margin: 3px auto 0 auto !important;
    padding: 1px 2px !important;
    font-size: 14px !important;
    line-height: 16px !important; }

  .selectionsBox .ingredient {
    width: 100px !important;
    min-height: 130px !important; }

  .fridgeBox .selected,
  .fridgeBox .myIngredient {
    width: 100px !important;
    min-height: 130px !important; }

  .navBottom {
    margin: 0 0 0 93.5% !important; } }
@media (min-width: 840px) {
  body {
    background: url(../assets/img/bgPhotoWide.jpg) no-repeat !important;
    background-size: cover !important;
    background-position-y: 20px !important;
    background-attachment: fixed !important; }

  .recipeOneBox,
  .recipeTwoBox {
    background: url(../assets/img/bgPhotoWide.jpg) no-repeat !important;
    background-size: cover !important; } }
/*
@media (min-width: 850px) {
    .selectionsBox .selection {
        max-width: 80% !important;
    }
}
@media (min-width: 880px) {
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 61px !important;
        }
    }
}
*/
@media (min-width: 960px) {
  .ingredientImgBox {
    min-width: 100px !important;
    max-width: 100px !important;
    min-height: 90px !important;
    max-height: 90px !important;
    margin: 6px auto !important; }

  .ingredientImg {
    width: 100px !important;
    height: 90px !important; }

  .ingredientName {
    width: 100px !important;
    min-height: 40px !important;
    max-height: 44px !important;
    margin: 3px auto 0 auto !important;
    padding: 5px 2px !important;
    font-size: 16px !important;
    line-height: 17px !important; }

  .selectionsBox .selection {
    max-width: 100% !important;
    padding: 6px 12% !important; }
  .selectionsBox .ingredient {
    width: 114px !important;
    min-height: 152px !important; }

  .fridgeBox .temporary,
  .fridgeBox .fridge {
    padding: 6px 12% !important; }
  .fridgeBox .selected,
  .fridgeBox .myIngredient {
    width: 114px !important;
    min-height: 152px !important; }

  .navBottom {
    margin: 0 0 0 94.5% !important; } }
@media (min-width: 992px) {
  .recipeTitleBox .recipeTitle h4 {
    font-size: 24px !important; }

  .recipeContent {
    padding: 12px 12px !important; }

  .recipeTwoBox {
    border-left: 1px solid #013d3d !important; } }
@media (min-width: 1200px) {
  .selectionsBox .titleBox,
  .fridgeBox .titleBox {
    height: 40px !important; }
    .selectionsBox .titleBox .selectionTitle,
    .selectionsBox .titleBox .fridgeTitle,
    .fridgeBox .titleBox .selectionTitle,
    .fridgeBox .titleBox .fridgeTitle {
      font-size: 22px !important;
      padding: 7px 0 0 0 !important; }

  .selectionsBox .selection {
    min-height: 452px !important;
    max-height: 452px !important;
    margin: 0 auto !important;
    padding: 6px 10% !important; }

  .fridgeBox .temporary,
  .fridgeBox .fridge {
    max-width: 100% !important;
    min-height: 226px !important;
    max-height: 226px !important;
    margin: 0 auto !important;
    padding: 6px 10% !important; }

  .recipeTitleBox .recipeTitle h4 {
    font-size: 28px !important; }

  .recipeContent {
    padding: 14px 14px !important; }

  .navBottom {
    margin: 0 0 0 95.5% !important; } }
@media (min-width: 1280px) {
  .navBottom {
    margin: 0 0 0 96% !important; } }
/*
@media (min-width: 1295px) {
    .selectionsBox {
        .selection {
            max-width: 88% !important;
        }
    }
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 44px !important;
        }
    }
}
*/
@media (min-width: 1324px) {
  body {
    background: url(../assets/img/bgPhotoWide.jpg) no-repeat !important;
    background-size: cover !important;
    background-position-y: 20px !important;
    background-attachment: fixed !important; }

  .recipeContent {
    padding: 20px 20px !important; }

  /*
  .selectionsBox {
      .selection {
          max-width: 87% !important;
          padding: 6px 12px !important;
      }
  }
  .fridgeBox {
      .temporary,
      .fridge {
          padding: 6px 56px !important;
      }
  }
  */ }
/*
@media (min-width: 1357px) {
    .selectionsBox {
        .selection {
            max-width: 86% !important;
        }
    }
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 58px !important;
        }
    }
}
@media (min-width: 1373px) {
    .selectionsBox {
        .selection {
            max-width: 85% !important;
        }
    }
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 66px !important;
        }
    }
}

@media (min-width: 1399px) {
    .selectionsBox {
        .selection {
            max-width: 80% !important;
        }
    }
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 80px !important;
        }
    }
}
*/
@media (min-width: 1426px) {
  .selectionsBox .selection {
    padding: 6px 12% !important; }

  .fridgeBox .temporary,
  .fridgeBox .fridge {
    padding: 6px 12% !important; }

  .recipeTitleBox {
    padding: 6px 8px !important; }
    .recipeTitleBox .recipeTitle h4 {
      font-size: 32px !important;
      letter-spacing: 2px !important;
      line-height: 50px !important; }
    .recipeTitleBox .photoBox {
      max-width: 166px !important;
      min-width: 166px !important;
      max-height: 136px !important;
      min-height: 136px !important; }
    .recipeTitleBox .recipePhoto {
      margin: 0 auto !important;
      width: 100%;
      height: 100%; } }
/*
@media (min-width: 1480px) {
    .selectionsBox {
        .selection {
            max-width: 78% !important;
        }
    }
    .fridgeBox {
        .temporary,
        .fridge {
            padding: 6px 96px !important;
        }
    }
}
*/
@media (min-width: 1500px) {
  .selectionsBox .selection {
    padding: 6px 16% !important; }

  .fridgeBox .temporary,
  .fridgeBox .fridge {
    padding: 6px 16% !important; }

  .recipeContent {
    padding: 28px 28px !important; } }
@media (min-width: 1678px) {
  .selectionsBox .selection {
    padding: 6px 18% !important; }

  .fridgeBox .temporary,
  .fridgeBox .fridge {
    padding: 6px 18% !important; }

  .recipeContent {
    padding: 32px 32px !important; } }
@media (min-width: 1783px) {
  .selectionsBox .selection {
    padding: 6px 20% !important; }

  .fridgeBox .temporary,
  .fridgeBox .fridge {
    padding: 6px 20% !important; }

  .recipeContent {
    padding: 36px 36px !important; } }

/*# sourceMappingURL=stylesheetIndex.css.map */
