$bgDarkred: #800018;
$bgGreen: #8D8F53;
$bgBrown: #78564C;

$bgBrownTrans_I: rgba(150, 103, 45, 0.8);
$bgBrownTrans_II: rgba(87, 58, 24, 0.8);
$bgGrayTrans: rgba(255, 255, 255, 0.6);
$bgGreenTrans: rgba(131, 153, 96, 0.8);
$bgYellowTrans_I: rgba(184, 170, 100, 0.4);
$bgYellowTrans_II: rgba(242, 220, 107, 0.3);

$bordersGreen: 1px solid #013d3d;
$bordersGreenThik: 2px solid #013d3d;
$bordersBrwon: 1px solid #78564C;

$bgButtons: #F2B035;
$borderButtons: 1px solid #013d3d;
$bgHover: #1c6672;

$titleColor: #013d3d;
$textColor: #ffffff;
//$ingredientColor: #028080;
$ingredientColor: #97ad73;
$bgText: rgba(120, 86, 76, 0.6);

$bgPhotos: #8c5f27;

$boxShadow: 0 0 2px 1px rgba(65, 65, 65, .6), 0 0 1px 0 rgb(0,0,0);
$boxShadowInset: inset 0 0 2px 1px rgba(65, 65, 65, .6), inset 0 0 1px 0 rgb(0,0,0);


.navbar {
    height: 44px;
    background-color: $bgDarkred;
    border-top: $bordersGreenThik;
    border-bottom: $bordersGreenThik;

    .button {
        height: 28px;
        padding: 2px 10px 2px 10px;
        color: $titleColor;
        font-size: 12px;
        background: $bgButtons;
        border: $bordersGreen;
        border-radius: 3px;
        box-shadow: $boxShadow;
    
        &:hover {
            color: $bgButtons;
            background: $bgHover;
            box-shadow: none;
        }
    }
    input:focus {
        outline: $bordersGreen;
        border: $bordersGreen;
    }
    input::-moz-focus-inner {
        outline: $bordersGreen;
        border: $bordersGreen;
    }
}
@keyframes navSlideUp {
    0% {
        top: 0;
    }
    50% {
        top: 0;
    }
    100% {
        top: -38px;
    }
}
@keyframes navSlideDown {
    0% {
        top: -38px;
    }
    100% {
        top: 0;
    }
}
@keyframes pageMoveUp {
    0% {
        margin-top: 38px;
    }
    50% {
        margin-top: 38px;
    }
    100% {
        margin-top: 0;
    }
}
@keyframes pageMoveDown {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: 38px;
    }
}

.topNav {
    position: fixed;
    width: 100%;
    max-height: 38px;
    top: 0;
    margin: 0 0;
    padding: 0 8px;
    border-bottom: none;

    .button {
        width: 90px;
        padding: 0 4px;
    }
    .appName {
        margin: 5px 0 0 0;
        padding: 0 0;
        color: #F2B035;
        font-family: "Varela Round";
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        text-shadow: 0 0 2px black;
    }
}
.underNav {
    width: 100%;
    margin-top: 0;
    padding: 0 8px;
    max-height: 44px;

    .navBtnCol {

        .menuBtn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-height: 28px;
            padding: 3px 6px 3px 6px;
            visibility: hidden;
            opacity: 0;
    
            .imgOne {
                height: 12px;
                width: 14px;
            }
            .imgTwo {
                height: 6px;
                width: 12px;
                margin-top: 2px;
            }
        }
    }
    .searchCol {

        .form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: $bgGreen;
            border: $bordersGreen;
            border-radius: 3px;
            box-shadow: $boxShadowInset;

            .search {
                height: 28px;
                max-width: 200px;
                margin: 0 0;
                padding: 2px 6px 2px 6px;
                background: transparent;
                border: none;
                &::placeholder {
                    color: rgba($titleColor, .8);
                    font-size: 14px;
                }
            }
            input:focus {
                outline: $bordersGreen;
                border: $bordersGreen;
            }
            input::-moz-focus-inner {
                outline: $bordersGreen;
                border: $bordersGreen;
            }
            .searchBtn {
                width: 32px;
                height: 28px;
                margin: 0 0;
                padding: 0 3px 1px 3px;
                background: rgba($bgButtons, .6);
                border: none;
                border-left: $bordersGreen;
                box-shadow: $boxShadowInset;
        
                .searchImg {
                    height: 17px;
                    width: 17px;
                }

                &:hover {
                    background: rgba($bgHover, .6);
                }
            }
        }
    }
    .resetCol {

        .resetBtn {
            width: 30px;
            height: 28px;
            margin: auto;
            padding: 3px 3px;

            .resetImg {
                height: 17px;
                width: 17px;
            }
        }
    }
}
.topSection {
    background: url(../assets/img/bgPhotoSmall.jpg) no-repeat;
    background-size: cover;

    .selectionsBox,
    .fridgeBox {
        width: 100%;
        min-height: 241px;
        margin: 0 0;
        padding: 0 0;

        .titleBox {
            min-width: 100%;
            height: 34px;
            margin: 0 auto;
            padding: 0 0;
            background: $bgGreenTrans;
            border-top: $bordersGreen;
            border-bottom: $bordersGreen;

            .selectionTitle,
            .fridgeTitle {
                min-width: 100%;
                height: 34px;
                margin: 0 auto;
                padding: 6px 0 0 0;
                font-family: "Lexend Deca";
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-shadow: 0 0 10px white;
            }
        }
        .selection,
        .fridge {
            min-width: 100%;
            min-height: 208px;
            margin: 0 0;
            padding: 0 0;
            height: 208px;
            //background: $bgYellowTrans_II;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .ingredient, 
            .myIngredient {
                width: 112px;
                max-height: 164px;
                margin: 6px auto;
                padding: 6px 6px;
                background: $bgBrownTrans_I;
                border: $bordersBrwon;
                border-radius: 4px;
            }
            .ingredientImgBox {
                min-height: 100px;
                max-height: 100px;
                min-width: 100px;
                max-width: 100px;
                margin: 0 0 6px 0;
                background: white;
                border: $bordersBrwon;
                overflow: hidden;
            }
            .ingredientImg {
                width: 100px;
                height: 90px;
            }
            .ingredientName {
                min-height: 26px;
                max-height: 42px;
                margin-top: 6px;
                color: $ingredientColor;
                font-family: "Jura";
                font-size: 14px;
                font-weight: 200;
                letter-spacing: 1px;
                text-align: center;
                text-shadow: 0 0 2px black;
                border-top: 1px solid $ingredientColor;
            }
        }
    }
    .selectionsBox {
        margin-top: -2px;
    }
}
.recipeNav {
    margin: 0 0;
    padding: 0 8px;

    .button {
        width: 70px;
    }
    .appName {
        margin: 0 0;
        padding: 0 0;
        color: #F2B035;
        font-family: "Varela Round";
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        text-shadow: 0 0 2px black;
    }
}
.bottomSection {
    background: url(../assets/img/bgPhotoSmall.jpg) no-repeat;
    background-size: cover;

    .recipeOneBox,
    .recipeTwoBox {
        width: 100%;
        margin: 0 0;
        padding: 0 0;

        .titleBox {
            min-width: 100%;
            height: 34px;
            margin: 0 auto;
            padding: 0 0;
            background: $bgGreenTrans;
            border-top: $bordersGreen;
            border-bottom: $bordersGreen;

            .boxTitle {
                min-width: 100%;
                height: 34px;
                margin: 0 auto;
                padding: 6px 0 0 0;
                font-family: "Lexend Deca";
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-shadow: 0 0 10px white;
            }
        }
        .recipeOne,
        .recipeTwo {
            width: 100%;
            min-height: 166px;
            margin: 0 0;
            padding: 6px 6px;

            .recipeContent {
                box-sizing: content-box;
                display: flex;
                flex-direction: column;
                margin: 6px 6px;
                padding: 7px 6px 9px 6px;
                background: $bgYellowTrans_I;
                border: $bordersBrwon;
                border-radius: 4px;
            }
            .recipeTitleBox {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 98%;
                margin: 6px auto;
                padding: 6px 6px;
                background: $bgGreenTrans;
                border: $bordersGreen;
                border-radius: 2px;

                .recipePhoto {
                    max-width: 120px;
                    max-height: 96px;
                    margin: 2px 6px 4px 0;
                    border: $bordersGreen;
                }
                .recipeTitle {
                    margin: 0 0;
                    padding: 6px 6px;
                    color: $titleColor;
                    font-family: "Jura";
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    //background: $bgGreenTrans;
                }
            }
            .recipeDetails {
                display: flex;
                flex-direction: column;
                width: 98%;
                margin: 0 auto;
                padding: 6px 6px;
                background: $bgBrownTrans_I;
                border: $bordersBrwon;
                border-radius: 2px;

                .recipePhoto {
                    max-width: 120px;
                    max-height: 96px;
                    margin: 2px 6px 4px 0;
                    border: $bordersBrwon;
                }
                .recipeText {
                    margin: 0 0;
                    padding: 0 0;
                    color: $textColor;
                    font-family: "Jura";
                    font-size: 14px;
                    font-weight: 200;
                    letter-spacing: 1px;
                    text-shadow: 0 0 2px black;
                }
            }
            /*
            .imgCol {
                margin: 0 0;
                padding: 0 0;
            }
            .textCol {
                margin: 0 0;
                padding: 0 0;
            }
            */
        }
    }
    .recipeOneBox {
        margin-top: -2px;
    }
    /*
    .recipeTwoBox {
        .boxTitle {
            border-top: $bordersGreen;
        }
    }
    */
}
.navBottom {
    max-height: 38px;
    margin: 0 0;
    padding: 0 6px;
}
.sectionVisible {
    display: flex;
    flex-direction: column;
}
.sectionHidden {
    display: none;
    height: 0px;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}