$bgDarkred: #800018;
$bgGreen: #8D8F53;
$bgBrown: rgb(124, 85, 38);
$accentcolor: #ca9C27;

$bgBrownTrans_I: rgba(150, 103, 45, 0.8);
$bgBrownTrans_II: rgba(87, 58, 24, 0.8);
$bgGrayTrans: rgba(151, 151, 151, 0.6);
$bgGreenTrans_I: rgba(131, 153, 96, 0.8);
$bgGreenTrans_II: rgba(111, 129, 82, 0.8);
$bgYellowTrans_I: rgba(#F2B035, 0.8);
$bgYellowTrans_II: rgba(#ca9c27, 0.8);
$bgYellowTrans_III: rgba(196, 162, 67, 0.7);

$bordersGreen: 1px solid #013d3d;
$bordersGreenThik: 2px solid #013d3d;
$bordersBrwon: 1px solid #78564C;
$borderYellow: 1px solid #ca9C27;
$borderYellowTrans: 1px solid rgba(#ca9C27, .8);

$bgButtons: #F2B035;
$borderButtons: 1px solid #013d3d;
$bgHover: #1c6672;
$bgCheked: #305d64;

$titleColor: #013d3d;
$textColor: #ffffff;
$listColor: #525252;
$inputColor: #ecd27c;
$ingredientColor: #212719;
$bgText: rgba(120, 86, 76, 0.6);

$bgPhotos: #8c5f27;

$boxShadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.1), -2px -2px 4px 0 rgba(20, 20, 20, 0.1), 1px 1px 1px 1px rgba(0,0,0,.2), -1px -1px 1px 1px rgba(0,0,0,.2);
$boxShadowInset: inset 2px 2px 4px 0 rgba(26, 26, 26, 0.1), inset -2px -2px 4px 0 rgba(26, 26, 26, 0.1), inset 1px 1px 1px 1px rgba(0,0,0,.3), inset -1px -1px 1px 1px rgba(0,0,0,.3);
$lightShadow:  1px 1px 1px 0 rgba(192, 186, 95, 0.1), -1px -1px 1px 0 rgba(192, 186, 95,.1);
$lightShadowInset:  inset 1px 1px 1px 0 rgba(192, 186, 95, 0.1), inset -1px -1px 1px 0 rgba(192, 186, 95,.1);

* {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0 0;
    padding: 0 0;
}
body {
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    background: url(../assets/img/bgPhotoSmall.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
}
.page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0;
    box-shadow: 2px 2px 2px 1px rgba(20,20,20,.3), -2px -2px 2px 1px rgba(20,20,20,.3);
    //1px 1px 1px 0 rgba(0,0,0,.4), -1px -1px 1px 0 rgba(0,0,0,.4);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes navSlideUp {
    0% {
        top: 0px;
    }
    50% {
        top: 0px;
    }
    100% {
        top: -32px;
    }
}
@keyframes navSlideDown {
    0% {
        top: -32px;
    }
    100% {
        top: 0px;
    }
}
@keyframes pageMoveUp {
    0% {
        margin-top: 71px;
    }
    50% {
        margin-top: 71px;
    }
    100% {
        margin-top: 38px;
    }
}
@keyframes pageMoveDown {
    0% {
        margin-top: 38px;
    }
    100% {
        margin-top: 71px;
    }
}
.navbar {
    min-width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0 0;
    background-color: $bgDarkred;
    border-top: $bordersGreenThik;
    border-bottom: $bordersGreenThik;

    .button {
        color: $titleColor;
        font-family: "Prompt";
        font-size: 12px;
        letter-spacing: 0px;
        background: $bgButtons;
        border: $bordersGreen;
        border-radius: 3px;
        box-shadow: $boxShadow;
        cursor: pointer;

        &:hover {
            color: $bgButtons;
            background: $bgHover;
            box-shadow: none;
        }
    }
}
.topNav {
    border-top: none;
    z-index: 3;

    .topRow {
        min-width: 100%;
        max-width: 100%;
        min-height: 32px;
        padding: 0 6px;
        border-bottom: 1px solid rgba(#013d3d, .18);

        .link {
            width: 92px;
            color: $titleColor;
            text-decoration: none;
            padding: 0 0;
            margin: 2px 0 0 0;
    
            .button {
                width: 92px;
                min-height: 20px;
                margin: 0 0;
                padding: 0 4px 2px 4px;
            }
        }
        .appName {
            margin: 6px auto 0 auto;
            padding: 0 0;
            color: $bgButtons;
            font-family: "Saira Semi Condensed";
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            letter-spacing: 1px;
            text-shadow: 0 0 3px black;
        }
    }
    .bottomRow {
        min-width: 100%;
        max-width: 100%;
        min-height: 38px;
        padding: 0 6px;

        .button {
            display: flex;
            align-items: center;
            width: 28px;
            height: 26px;
        }
        .navBtnCol {
            margin: 0 0;
            padding: 0 0;
    
            .menuBtn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                box-shadow: $lightShadow;
                visibility: hidden;
                opacity: 0;
        
                .imgOne {
                    height: 12px;
                    width: 14px;
                    margin: 0 auto;
                }
                .imgTwo {
                    height: 6px;
                    width: 12px;
                    margin: 0 auto;
                }
            }
        }
        .searchCol {
            margin: 0 0;
            padding: 0 0;
    
            .form {
                display: flex;
                flex-direction: row;
                justify-content: center;
                background: $bgGreenTrans_I;
                border: $bordersGreen;
                border-radius: 3px;
                box-shadow: $boxShadowInset;
    
                .search {
                    height: 25px;
                    width: 180px;
                    margin: 0 0;
                    padding: 2px 6px 2px 8px;
                    color: $inputColor;
                    font-family: "Prompt";
                    font-size: 14px;
                    font-weight: 200;
                    background: transparent;
                    border: none;
    
                    &::placeholder {
                        color: rgba($titleColor, .8);
                        font-family: "Prompt";
                        font-size: 14px;
                        font-weight: 100;
                    }
                }
                input:focus {
                    outline: $bordersGreen;
                    border: $bordersGreen;
                }
                input::-moz-focus-inner {
                    outline: $bordersGreen;
                    border: $bordersGreen;
                }
                .searchBtn {
                    display: flex;
                    align-items: center;
                    min-width: 26px;
                    height: 25px;
                    margin: 0 0;
                    padding: 0 0;
                    background: rgba($bgButtons, .6);
                    border: none;
                    border-left: $bordersGreen;
                    box-shadow: $boxShadowInset;
            
                    .searchImg {
                        height: 15px;
                        width: 15px;
                        margin: 0 auto;
                    }
                    &:hover {
                        background: rgba($bgHover, .6);
                    }
                }
            }
        }
        .resetCol {
            margin: 0 0;
            padding: 0 0;
    
            .resetBtn {
                display: flex;
                align-items: center;
                margin: auto;
                padding: 2px 3px 3px 3px;
                box-shadow: $lightShadow;
    
                .resetImg {
                    height: 15px;
                    width: 15px;
                    margin: 0 auto;
                }
            }
        }
    }
}

@keyframes blink {
	0% {
		background-color: lighten($accentcolor, 15%);
	}
	10% {
		background-color: lighten($accentcolor, 15%);
	}
	11% {
		background-color: lighten($accentcolor, 20%);
	}
	29% {
		background-color: lighten($accentcolor, 20%);
	}
	30% {
		background-color: lighten($accentcolor, 15%);
	}
	50% {
		background-color: lighten($accentcolor, 20%);
	}
	45% {
		background-color: lighten($accentcolor, 15%);
	}
	50% {
		background-color: lighten($accentcolor, 20%);
	}
	100% {
		background-color: lighten($accentcolor, 15%);
	}
}
.section {
    width: 100%;
    max-width: 100%;
    margin: 71px 0 0 0;
    padding: 0 0;

    .bottomCol {
        width: 100%;
        max-width: 100%;
        margin: 0 0;
        padding: 0 0;
    }
    .topCol {
        .sectionVisible {
            display: block;
        }
        .sectionHidden {
            display: none;
        }
    }
}
.fridgeSection,
.mealTypeSection {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}
.fridgeSection {
    max-width: 100%;

    .sectionRow {
        width: 100%;
        max-width: 100%;
        margin: 0 0;
        padding: 0 0;
    }
    .selectionsBox,
    .fridgeBox {
        width: 100%;
        max-width: 100%;
        height: 496px;
        margin: 0 0;
        padding: 0 0;
        border: none;
        
        .titleBox {
            width: 100%;
            max-width: 100%;
            height: 34px;
            margin: 0 0;
            padding: 0 6px;
            background: $bgYellowTrans_II;
            border-top: $bordersGreen;
            border-bottom: $bordersGreen;

            .selectionTitle,
            .fridgeTitle,
            .mealTitle {
                width: 100%;
                max-width: 100%;
                height: 34px;
                margin: 0 auto;
                padding: 6px 0 0 0;
                font-family: "Quicksand";
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-shadow: 0 0 3px white;
                border: none;
            }
        }
    }
    .selectionsBox {
        .titleBox {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            max-width: 100%;
            padding: 0 6px;

            .selectionTitle {
                min-width: 72%;
                max-width: 72%;
                margin-left: 20px;
            }
        }
        .mealMenuBtn {
            display: flex;
            align-items: center;
            min-width: 26px;
            min-height: 24px;
            margin: 0 0;
            padding: 0 0;
            background: $bgButtons;
            border: $bordersGreen;
            border-radius: 3px;
            box-shadow: $lightShadow;

            .mealImg {
                width: 14px;
                height: 14px;
                margin: 0 auto;
            }
            &:hover {
                color: $bgButtons;
                background: $bgHover;
                box-shadow: none;
            }
        }
        .menuBtnHidden {
            opacity: 0;
        }
        .menuBtnVisible {
            animation: 1s fadeIn forwards;
        }
    }
    .selectionsBox,
    .fridgeBox {
        height: 248px;

        .selection,
        .temporary,
        .fridge {
            align-items: center;
            margin: 0 0;
            padding: 2px 6%;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            background: rgba(white, .8);

            &::-webkit-scrollbar {
                display: none;
            }
            .ingredientImgBox {
                width: 60px;
                height: 50px;
                margin: 3px auto;
                background: white;
                box-shadow: $boxShadowInset;
                overflow: hidden;
            }
            .ingredientImg {
                width: 60px;
                height: 50px;
            }
            .ingredientName {
                width: 60px;
                height: 36px;
                margin: 6px auto 0 auto;
                padding: 2px 2px;
                font-family: "Prompt";
                font-size: 10px;
                font-weight: 300;
                text-align: center;
                line-height: 13px;
                border-top: 1px solid rgba($titleColor, .4);
            }
            .ingrHidden {
                display: none;
            }
            .ingrVisible {
                display: block;
            }
        }
        .selection {
            height: 100%;
            width: 100%;
            height: 210px;
            padding: 0 4%;

            .ingredient {
                width: 66px;
                height: 92px;
                margin: 6px auto;
                padding: 0 0;
                background: $bgGreenTrans_II;
                box-shadow: $boxShadow;
            }
        }
        .temporary,
        .fridge {
            width: 100%;
            height: 100px;
            padding: 0 4%;
        }
        .temporary {
            border-bottom: 1px solid rgba($titleColor, .2);

            .selected {
                width: 66px;
                height: 92px;
                margin: 6px auto;
                padding: 0 0;
                background: $bgGreenTrans_II;
                box-shadow: $boxShadow;
            }
        }
        .fridge {
            .ingredientName {
                border-top: 1px solid $bgBrownTrans_II;
            }
            .myIngredient {
                width: 66px;
                height: 90px;
                margin: 6px auto;
                padding: 0 0;
                background: $bgBrownTrans_I;
                box-shadow: $boxShadow;
            }
        }
    }
}
.mealTypesSection {
    width: 100%;
    max-width: 576px;
    min-height: 496px;
    margin: 0 auto;
    padding: 0 0;
    background: url(../assets/img/bgPhotoSmall.jpg);
    background-size: cover;
    border: none;
    box-shadow: $boxShadow;

    .titleRow,
    .typesAndDietsForm {
        width: 100%;
        max-width: 100%;
        margin: 0 0;
        padding: 0 0;
    }
    .titleRow {
        width: 100%;
        max-width: 100%;
        min-height: 32px;
        margin: 0 0;
        padding: 0 0;
        background: #ca9c27;
        border: none;

        .titleBox {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            max-width: 100%;
            min-height: 32px;
            margin: 0 0;
            padding: 2px 0 0 0;
            border: none;
            
            .mealTitle {
                width: 100%;
                max-width: 100%;
                min-height: 18px;
                margin: 0 0;
                padding: 0 0;
                font-family: "Quicksand";
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-shadow: 0 0 3px white;
                border: none;
            }
        }
    }
    .typesAndDietsForm {
        width: 100%;
        max-width: 100%;
        height: 496px;
        margin: 0 0;
        padding: 0 0;
        background: rgba(rgb(255, 255, 255),.8);
        border: none;

        .typesCol,
        .dietsCol {
            width: 100%;
            max-width: 100%;
            margin: 0 0;
            padding: 0 0;
        }
        .formTitleBox {
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 100%;
            min-height: 26px;
            margin: 0 0;
            padding: 3px 0 0 0;
            background: $bgGreen;
            border-top: $bordersGreen;
            border-bottom: $bordersGreen;

            .typesTitle,
            .dietsTitle {
                min-height: 24px;
                margin: 0 0;
                padding: 0 0;
                color: $titleColor;
                font-family: "Quicksand";
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 2px;
                text-align: center;
            }
        }
        .mealTypes,
        .diets {
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            padding: 6px 6px 2px 6px;
            z-index: 5;

            .checkBtn {
                position: relative;
                display: block;
                min-width: 43%;
                max-width: 43%;
                margin: 0 auto;
                padding: 0 0;
            }
            label {
                display: block;
                height: 23px;
                margin: 0 0;
                padding: 1px 36px 0 3px;
                color: $listColor;
                font-family: "Prompt";
                font-size: 12px;
                font-weight: 400;
                text-align: right;
                background: $bgYellowTrans_III;
                border: 1px solid rgba(121, 121, 121, 0.6);
                border-radius: 4px;
                cursor: pointer;

                &:after,
                &:before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 3px;
                    border: 1px solid rgba(121, 121, 121, 0.2);
                    background: $bgYellowTrans_II;
                }
                &:before {
                    background: transparent;
                    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
                                0.25s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
                    z-index: 2;
                    overflow: hidden;
                    background-repeat: no-repeat;
                    background-size: 9px;
                    background-position-y: center;
                    width: 0;
                    height: 0;
                    background-image: url(../assets/icons/checkmark_yellow2.png);
                }
                &:hover {
                    color: $bgButtons;
                    background: $bgHover;
                    border-color: darken($bgHover, 5%);
                }
            }
            input[type="checkbox"],
            input[type="radio"] {
                display: none;
                position: absolute;
                width: 100%;
                appearance: none;
                //box-shadow: $lightShadow;

                &:checked + label {
                    color: $bgButtons;
                    background: lighten($accentcolor, 20%);
                    background: $bgHover;
                    animation-name: blink;
                    animation-duration: 0.15s;
                    border-color: $bgCheked;
                    box-shadow: $lightShadowInset;

                    &:after {
                        background: $bgCheked;
                        border: $borderYellowTrans;
                        width: 16px;
                        height: 16px;
                    }
                    &:before {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
        .mealTypes {
            flex-direction: column;
            align-items: space-evenly;
            height: 186px;
            margin: 0 0;
            padding: 10px 0 0 0;

            .typerow {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                height: 24px;
                padding: 0 0;
                margin: 1px auto 0 auto;
            }
            label {
                &:after,
                &:before {
                    right: 6px;
                    top: 4px;
                }
                &::before {
                    background-position-x: 3px;
                }
            }
        }
        .diets {
            flex-direction: column;
            align-items: flex-start;
            height: 175px;
            margin: 0 0;
            padding: 10px 0 0 0;

            .checkBtn {
                min-width: 94%;
                height: 24px;
                margin-bottom: 3px;
            }
            label {
                height: 24px;
                padding: 1px 0 0 32px;
                text-align: left;

                &:after,
                &:before {
                    left: 6px;
                    top: 4px;
                }
                &::before {
                    background-position-x: 3px;
                }
            }
        }
    }
    .submitTypes {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 30px;
        margin: 0 0;
        margin: 0 0;
        padding: 0 3.5% 4px 3.5%;

        .submitBtn {
            width: 60px;
            height: 26px;
            padding: 1px 4px;
            color: $titleColor;
            color: $bgButtons;
            font-family: "Prompt";
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2px;
            background: $bgButtons;
            background: $bgGreen;
            background: $bgHover;
            border: $bordersGreen;
            border-radius: 3px;
            box-shadow: $lightShadow;
            cursor: pointer;
            opacity: 0;

            &:hover {
                color: $bgButtons;
                color: $titleColor;
                background: $bgHover;
                background: $bgGreen;
                box-shadow: none;
            }
        }
    }
}
.recipeNav {
    width: 100%;
    max-width: 100%;
    height: 38px;
    margin: 0 0;
    padding: 0 6px;
    background-color: $bgDarkred;
    border-top: $bordersGreenThik;
    border-bottom: $bordersGreenThik;
    z-index: 8;

    .btn {
        min-width: 94px;
        max-width: 94px;
        color: $titleColor;
        text-decoration: none;
        padding: 0 0;
        margin: 0 0;

        .button {
            min-width: 92px;
            max-width: 92px;
            height: 24px;
            padding: 0 4px 2px 4px;
            color: $titleColor;
            font-family: "Prompt";
            font-size: 12px;
            letter-spacing: 0px;
            background: $bgButtons;
            border: $bordersGreen;
            border-radius: 3px;
            box-shadow: $boxShadow;
            cursor: pointer;
        
            &:hover {
                color: $bgButtons;
                background: $bgHover;
                box-shadow: none;
            }
        }
    }
    .nameButton {
        height: 32px;
        margin: 0 auto;
        padding: 0 0 4px 0;
        background: transparent;
        border: none;
        cursor: pointer;

        .appName {
            width: 106px;
            margin: 0 auto;
            padding: 0 0;
            color: $bgButtons;
            font-family: "Saira Semi Condensed";
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            letter-spacing: 1px;
            text-shadow: 0 0 3px black;
        }
    }
    .buttonOnload {
        display: none;
    }
    .buttonVisible {
        display: block;
        animation: fadeIn 2s forwards;
    }
    .buttonHidden {
        animation: fadeOutButton 2s forwards;
    }
}
.bottomSection {
    .recipeOneBox,
    .recipeTwoBox {
        width: 100%;
        margin: 0 0;
        padding: 0 0;
        background: url(../assets/img/bgPhotoSmall.jpg) no-repeat;
        background-size: cover;
        background-position-x: -80px;

        .mainTitleBox {
            min-width: 100%;
            height: 34px;
            margin: 0 auto;
            padding: 0 0;
            background: $bgYellowTrans_II;
            border-top: $bordersGreen;
            border-bottom: $bordersGreen;

            .boxTitle {
                min-width: 100%;
                min-height: 34px;
                margin: 0 auto;
                padding: 6px 0 0 0;
                font-family: "Quicksand";
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-shadow: 0 0 4px white;
            }
        }
        .recipeOne,
        .recipeTwo {
            width: 100%;
            min-height: 166px;
            margin: 0 0;
            padding: 0 0;

            .recipeContent {
                box-sizing: content-box;
                flex-direction: column;
                margin: 0 0;
                padding: 4px 4px 8px 4px;
            }
            .contentHidden {
                display: none;
            }
            .contentVisible {
                display: flex;
            }
            .recipeTitleBox {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 98%;
                margin: 6px auto;
                padding: 6px 7px;
                background: $bgGreenTrans_I;
                border: $bordersGreen;
                border-radius: 2px;

                .photoBox {
                    display: none;
                    max-width: 120px;
                    min-width: 120px;
                    max-height: 96px;
                    min-height: 96px;
                    margin: 4px 6px 4px 3px;
                    background: $bgBrownTrans_II;
                    border: $bordersGreen;
                    overflow: hidden;

                    .recipePhoto {
                        margin: 0 auto;
                    }
                }
                .recipeTitle {
                    margin: 0 0;
                    padding: 4px 6px 0px 6px;
                    
                    h4 {
                        color: $titleColor;
                        font-family: "Prompt";
                        font-size: 18px;
                        font-weight: 400;
                        letter-spacing: 1px;
                        line-height: 28px;
                    }
                    span {
                        color: $textColor;
                    }
                }
            }
            .recipeDetails {
                display: flex;
                flex-direction: column;
                width: 98%;
                margin: 0 auto;
                padding: 6px 6px;
                background: $bgBrownTrans_I;
                border: $bordersBrwon;
                border-radius: 2px;

                .photoBox {
                    display: block;
                    max-width: 120px;
                    min-width: 120px;
                    max-height: 96px;
                    min-height: 96px;
                    margin: 2px 6px 12px 3px;
                    background: $bgBrownTrans_II;
                    border: $bordersBrwon;
                    overflow: hidden;

                    .recipePhoto {
                        margin: 0 auto;
                    }
                }
                .recipeText {
                    margin: 0 0;
                    padding: 6px 6px;
                    color: $textColor;
                    font-family: "Prompt";
                    font-size: 14px;
                    font-weight: 200;
                    letter-spacing: 1px;
                    text-shadow: 0 1px 2px black;

                    a {
                        color: rgb(36, 62, 105);
                        font-weight: 600;
                        text-shadow: none;
                        text-decoration: underline;
                        text-underline-offset: 4px;
                        text-decoration-color: $bgYellowTrans_I;

                        &:hover {
                            color: $titleColor;
                            text-decoration-color: rgb(36, 62, 105);
                            cursor: pointer;
                        }
                    }
                }
                .titleBox {
                    margin: 6px 6px 0 6px;
                    height: 28px;
                    padding-bottom: 1px;
                    color: $titleColor;
                    font-family: "Prompt";
                    letter-spacing: 1px;
                    background: transparent;
                    border: none;
                    border-bottom: $bordersGreen;

                    h4 {
                        padding-bottom: 0px;
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
                .ingredientsList,
                .recipeInstructions {
                    margin: 0 0;

                    img {
                        min-width: 8px;
                        max-width: 8px;
                        min-height: 8px;
                        max-height: 8px;
                        margin: 2px 0 0 0;
                    }
                    p {
                        margin: 0 14px 0 6px;
                        padding: 0 0;
                        color: $textColor;
                        font-family: "Prompt";
                        font-size: 13px;
                        font-weight: 200;
                        letter-spacing: 1px;
                    }
                }
                .ingredientsList{
                    padding: 6px 22px 6px 12px;
                    .ingr {
                        display: inline;
                        p {
                            display: inline;
                        }
                    }
                }
                .recipeInstructions {
                    padding: 6px 6px;

                    .step {
                        display: flex;
                        margin-bottom: 4px;

                        img {
                            margin: 8px 2px 0 0;
                        }
                    }
                }
            }
        }
    }
    .recipeOneBox {
        margin-top: -2px;
    }
}
.navUp {
    position: fixed;
    right: 0px;
    min-width: 12%;
    max-width: 12%;
    margin: 0 0 0 87.5%;
    padding: 4px 6px;
    background: transparent;
    border: none;
    z-index: 4;

    .upLink {
        min-width: 28px;
        max-width: 28px;
        color: $titleColor;
        text-decoration: none;
        padding: 0 0;
        margin: 0 auto;
        z-index: 4;
    }
    .upBtn {
        min-width: 28px;
        max-width: 28px;
        min-height: 26px;
        max-height: 26px;
        padding: 2px 4px;
        font-family: "Prompt";
        font-size: 12px;
        letter-spacing: 0px;
        text-decoration: none;
        background: $bgButtons;
        border: $bordersGreen;
        border-radius: 3px;
        box-shadow: $boxShadow;
        cursor: pointer;
    }
}
.bottomNav {
    width: 100%;
    height: 36px;
    padding: 0 6px;

    .moreLink {
        width: 50%;
        padding: 2px 0;
    }
    .moreBtn {
        min-height: 25px;
        max-height: 25px;
        padding: 0 6px;
    }
}
.sectionVisible {
    display: flex;
    flex-direction: column;
}
.sectionHidden {
    display: none;
    height: 0px;
}

/********** Animations ***********************************/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOutButton {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

/********** Responsiveness *******************************/

/********** Responsiveness WIDTH *************************/
@media (min-width: 992px) {
    .bottomSection {
        .recipeOneBox, 
        .recipeTwoBox {
            background: url(../assets/img/bgPhotoOriginal.jpg);
            //background-position-y: 80px !important;
            background-size: cover !important;
        }
    }
    .recipeTwoBox {
        width: 50%;
        margin-top: -2px !important;
        border-left: $bordersGreen;
    }
}